h2{
  margin: 20px 0 20px 0;
}
.crMainDeptEmpl{
  margin: 0;
  height: 264px;
  width:781px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.crMainDeptEmpl b{
  position: relative;
  top: 6px;
  left: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.crMainDeptEmpl p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.crMDEValidationDefault input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.crMDEValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition-duration: 0.5s;
}

.crMDEValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition-duration: 0.5s;
}

.crMDEValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition-duration: 0.5s;
}

.crMDEValidationDefault select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.crMDEValidationInvalid select {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition-duration: 0.5s;
}

.crMDEValidationValid select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition-duration: 0.5s;
}

.crMDEValidationValidAndFocused select{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition-duration: 0.5s;
}

.crMDELastName{
  display: inline-block;
  float: left;
  margin: 3px 0 0 3px;
  height: 52px;
  width: 777px;
}

.crMDELastName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 94px;
  height: 30px;
  font-size: 12pt;
  z-index: 2;
}

.crMDELastName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
  background-color: rgb(255, 255, 255);
}

.crMDELastNameErrorMassage{
  padding: 0;
  height: 20px;
  width: 300px;
  float: left;
  margin: 0 0 0 107px;
}

.crMDEFirstName{
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.crMDEFirstName label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.crMDEFirstName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.crMDEFirstNameErrorMassage{
  transition-duration: 1s;
  width: 300px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.crMDEMiddleName {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.crMDEMiddleName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.crMDEMiddleName input{
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.crMDEMiddleNameErrorMassage{
  width: 300px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.crMDEMainDept {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 776px;
}

.crMDEMainDept label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.crMDEMainDept select {
  padding: 0 0 0 7px;
  width: 679px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.crMDEMainDeptErrorMassage{
  width: 530px;
  height: 20px;
  margin: 0 0 0  108px;
}

.crMDEBirthDate {
  display: inline-block;
  margin: 0 0 0 3px;
  width: 341px;
  height: 52px;
  float: left;
}

.crMDEBirthDate label{
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 130px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 4;
  position: relative;
}

.crMDEBirthDate select:nth-child(2),
.crMDEBirthDate select:nth-child(4){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.crMDEBirthDate select:nth-child(3){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 88px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.crMDEBirthDateErrorMassage{
  margin: 0 0 0 136px;
  width: 150px;
  height: 20px;
  float: bottom;
}

.crMDEPassport{
  display: inline-block;
  margin: 0 0 0 6px;
  height: 52px;
  width: 428px;
  float: left;
}

.crMDEPassport label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 168px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.crMDEPassport span{
  float: left;
  height: 24px;
  width: 57px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 6px 0 0 6px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
}

.crMDEPassport input:nth-child(3),
.crMDEPassport input:nth-child(4){
  outline: none;
  height: 30px;
  width: 25px;
  margin: 0;
  padding: 0 0 0 6px;
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.crMDEPassport input:nth-child(6){
  float: left;
  outline: none;
  height: 30px;
  width: 59px;
  padding: 0 0 0 6px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.crMDEPassportErrorMassage{
  width: 220px;
  height: 36px;
  margin-left: 176px;
}

.crMainDeptEmpl button{
  margin: 2px 0 0 632px;
  height: 50px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  box-shadow: inset 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(60, 60, 60);
}

.crMainDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
