.crMainDeptEmpl{
  margin-top: 30px;
  height: 426px;
  width:980px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  box-shadow: inset 3px 0 5px rgba(0,0,0,0.22);
}

.crMDELastNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: 2px;
  z-index: 2;
}

.crMDELastNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -37px;
}

.crMDELastNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -37px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDELastNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -37px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDELastNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -36px;
  position: relative;
}

.crMDELastNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMDEFirstNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -37px;
  z-index: 2;
}

.crMDEFirstNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -76px;
}

.crMDEFirstNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -76px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDEFirstNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -76px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDEFirstNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -75px;
  position: relative;
}

.crMDEFirstNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMDEMiddleNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -78px;
  z-index: 2;
}

.crMDEMiddleNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -117px;
}

.crMDEMiddleNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -117px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDEMiddleNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -117px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crMDEMiddleNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -117px;
  position: relative;
}

.crMDEMiddleNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMDEBirthDateLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 123px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -150px;
  z-index: 2;
}

.crMDEBirthDateDefault select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  cursor: pointer;
}

.crMDEBirthDateInvalid select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  cursor: pointer;
}

.crMDEBirthDateValid select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  cursor: pointer;
}

.crMDEBirthDateErrorMassage{
  width: 789px;
  height: 20px;
  left: 137px;
  top: -189px;
  position: relative;
  z-index: -1;
}

.crMDEBirthDateErrorMassage p{
  padding-left: 5px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMDEPassportLabel {
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 162px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 471px;
  top: -231px;
  z-index: 2;
}

.crMDEPassportDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 322px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 644px;
  top: -270px;
}

.crMDEPassportInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 644px;
  top: -270px;
  outline: none;
  height: 35px;
  width: 322px;
}

.crMDEPassportValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 644px;
  top: -270px;
  outline: none;
  height: 35px;
  width: 322px;
}

.crMDEPassportErrorMassage{
  width: 322px;
  height: 36px;
  left: 644px;
  top: -270px;
  position: relative;
}

.crMDEPassportErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMDESubDeptLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 175px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -256px;
  z-index: 2;
}

.crMDESubDeptDefault select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.crMDESubDeptInvalid select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.crMDESubDeptValid select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.crMDEMainDeptErrorMassage{
  width: 789px;
  height: 20px;
  left: 189px;
  top: -294px;
  position: relative;
}

.crMDEMainDeptErrorMassage p{
  padding-left: 3px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crMainDeptEmpl button{
  position: relative;
  height: 50px;
  left: 831px;
  top: -292px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}

.crMainDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
}

