<div>
  <form [formGroup]="mEmpCrForm" novalidate (ngSubmit)="addMainDeptEmployee()" >
    <h2>Добавление сотрудника департамента</h2>
    <div class="crMainDeptEmpl">
      <div  class="crMDELastName"
            [ngClass]="{'crMDEValidationDefault': !submitted,
                        'crMDEValidationInvalid': mEmpCrForm.get('lastName').invalid
                                             && submitted,
                        'crMDEValidationValid': mEmpCrForm.get('lastName').valid,
                        'crMDEValidationValidAndFocused': mEmpCrForm.get('lastName').valid
                            &&  mEmpCrForm.get('lastName') === mEmpCrForm.get(inputName) }" >
        <label for="lastName"><b>Фамилия</b></label>
        <input type="text" id="lastName" placeholder="Введите фамилию"
               formControlName="lastName"  >
        <div class="crMDELastNameErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': mEmpCrForm.get('lastName').valid || !submitted,
                           'crMDEShowErrors': mEmpCrForm.get('lastName').invalid && submitted}">
            <div *ngIf="mEmpCrForm.get('lastName').invalid && submitted">
              <div *ngIf="mEmpCrForm.get('lastName').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="mEmpCrForm.get('lastName').hasError('pattern')">
                <p>Допускаются только кириллические, или латинские буквы!</p>
              </div>
              <div *ngIf="mEmpCrForm.get('lastName').hasError('mainDeptEmplAlreadyExist')">
                {{errorMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  class="crMDEFirstName"
            [ngClass]="{'crMDEValidationDefault': !submitted,
                        'crMDEValidationInvalid': mEmpCrForm.get('firstName').invalid
                                              && (mEmpCrForm.get('firstName').dirty
                                              ||  mEmpCrForm.get('firstName').untouched
                                              ||  mEmpCrForm.get('firstName').touched)
                                              && submitted,
                        'crMDEValidationValid': mEmpCrForm.get('firstName').valid,
                        'crMDEValidationValidAndFocused': mEmpCrForm.get('firstName').valid
                        &&  mEmpCrForm.get('firstName') === mEmpCrForm.get(inputName) }" >
        <label for="firstName"><b>Имя</b></label>
        <input type="text" id="firstName" placeholder="Введите имя"
               formControlName="firstName" >
        <div class="crMDEFirstNameErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': mEmpCrForm.get('firstName').valid || !submitted,
                           'crMDEShowErrors': mEmpCrForm.get('firstName').invalid && submitted}">
            <div *ngIf="mEmpCrForm.get('firstName').invalid && submitted">
              <div *ngIf="mEmpCrForm.get('firstName').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="mEmpCrForm.get('firstName').hasError('pattern')">
                <p>Допускаются только кириллические, или латинские буквы!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crMDEMiddleName"
           [ngClass]="{'crMDEValidationDefault': !submitted,
                       'crMDEValidationInvalid': mEmpCrForm.get('middleName').invalid
                                             && (mEmpCrForm.get('middleName').dirty
                                             ||  mEmpCrForm.get('middleName').untouched
                                             ||  mEmpCrForm.get('middleName').touched)
                                             && submitted,
                       'crMDEValidationValid': mEmpCrForm.get('middleName').valid,
                       'crMDEValidationValidAndFocused': mEmpCrForm.get('middleName').valid
                        &&  mEmpCrForm.get('middleName') === mEmpCrForm.get(inputName) }" >
        <label for="middleName"><b>Отчество</b></label>
        <input type="text" id="middleName"
               placeholder="Введите отчество (Если отсутствует введите - )"
               formControlName="middleName" >
        <div class="crMDEMiddleNameErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': mEmpCrForm.get('middleName').valid || !submitted,
                           'crMDEShowErrors': mEmpCrForm.get('middleName').invalid && submitted}">
            <div *ngIf="mEmpCrForm.get('middleName').invalid && submitted">
              <div *ngIf="mEmpCrForm.get('middleName').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="mEmpCrForm.get('middleName').hasError('pattern')">
                <p>Допускаются только кириллические, или латинские буквы, либо дефис!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crMDEBirthDate"
           [ngClass]=" {'crMDEValidationDefault': !submitted,
                        'crMDEValidationInvalid': (mEmpCrForm.get('day').invalid
                                               || mEmpCrForm.get('month').invalid
                                               || mEmpCrForm.get('year').invalid )
                                               && submitted,
                        'crMDEValidationValid': mEmpCrForm.get('day').valid
                                             && mEmpCrForm.get('month').valid
                                             && mEmpCrForm.get('year').valid,
                        'crMDEValidationValidAndFocused':  (mEmpCrForm.get('day').valid
                                                         && mEmpCrForm.get('month').valid
                                                         && mEmpCrForm.get('year').valid)
                              &&  (mEmpCrForm.get('day') === mEmpCrForm.get(inputName)
                              ||   mEmpCrForm.get('month') === mEmpCrForm.get(inputName)
                              ||   mEmpCrForm.get('year') === mEmpCrForm.get(inputName)) }" >
        <label ><b>Дата рождения</b> </label>
        <select  id="day" formControlName="day" aria-label="birthDate">
          <option hidden [value]="null">День</option>
          <option *ngFor="let day of days" [value]="day" >
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate" >
          <option hidden [value]="null">Месяц</option>
          <option *ngFor="let month of months" [value]="month" >
            {{month}}
          </option>
        </select>
        <select  id="year" formControlName="year" aria-label="birthDate">
          <option hidden [value]="null">Год</option>
          <option *ngFor="let year of years"  [value]="year">
            {{year}}
          </option>
        </select>
        <div class="crMDEBirthDateErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': (mEmpCrForm.get('day').valid
                                            && mEmpCrForm.get('month').valid
                                            && mEmpCrForm.get('year').valid)
                                            || !submitted,
                           'crMDEShowErrors': (mEmpCrForm.get('day').invalid
                                            || mEmpCrForm.get('month').invalid
                                            || mEmpCrForm.get('year').invalid)
                                            && submitted}">
            <div *ngIf="(mEmpCrForm.get('day').invalid
                        || mEmpCrForm.get('month').invalid
                        || mEmpCrForm.get('year').invalid)
                        && submitted">
              <div *ngIf="mEmpCrForm.get('day').hasError('required')
                     || mEmpCrForm.get('month').hasError('required')
                     || mEmpCrForm.get('year').hasError('required')">
                <p>Дата не указана!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crMDEPassport"
           [ngClass]=" {'crMDEValidationDefault': !submitted,
                        'crMDEValidationInvalid': ((mEmpCrForm.get('seriesF').invalid
                                                 || mEmpCrForm.get('seriesS').invalid
                                                 || mEmpCrForm.get('number').invalid)
                                                 && submitted),
                        'crMDEValidationValid': mEmpCrForm.get('seriesF').valid
                                             && mEmpCrForm.get('seriesS').valid
                                             && mEmpCrForm.get('number').valid,
                        'crMDEValidationValidAndFocused':  (mEmpCrForm.get('seriesF').valid
                                                         && mEmpCrForm.get('seriesS').valid
                                                         && mEmpCrForm.get('number').valid)
                         &&  (mEmpCrForm.get('seriesF') === mEmpCrForm.get(inputName)
                         ||   mEmpCrForm.get('seriesS') === mEmpCrForm.get(inputName)
                         ||   mEmpCrForm.get('number') === mEmpCrForm.get(inputName)) }" >
        <label ><b>Паспортные данные</b></label>
        <span>Серия:</span>
        <input id="seriesF" type="text" maxlength="2"
               formControlName="seriesF" aria-label="passport" placeholder=". .">
        <input id="seriesS" type="text" maxlength="2"
               formControlName="seriesS" aria-label="passport" placeholder=". .">
        <span>Номер:</span>
        <input id="number" type="text"  maxlength="6"
               formControlName="number" aria-label="passport" placeholder=". . . . . .">
        <div class="crMDEPassportErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': (mEmpCrForm.get('seriesF').valid
                                            && mEmpCrForm.get('seriesS').valid
                                            && mEmpCrForm.get('number').valid)
                                            || !submitted,
                           'crMDEShowErrors': (mEmpCrForm.get('seriesF').invalid
                                            || mEmpCrForm.get('seriesS').invalid
                                            || mEmpCrForm.get('number').invalid)
                                            && submitted}">
            <div *ngIf="(mEmpCrForm.get('seriesF').invalid
                         || mEmpCrForm.get('seriesS').invalid
                         || mEmpCrForm.get('number').invalid)
                         && submitted">
              <div *ngIf="(mEmpCrForm.get('seriesF').hasError('required')
                          || mEmpCrForm.get('seriesS').hasError('required')
                          || mEmpCrForm.get('number').hasError('required'))">
                <p>Поля необходимо заполнить!</p>
              </div>
              <div *ngIf="((!mEmpCrForm.get('seriesF').hasError('required')
                          && !mEmpCrForm.get('seriesS').hasError('required')
                          && !mEmpCrForm.get('number').hasError('required'))
                          && (mEmpCrForm.get('seriesF').hasError('pattern')
                          || mEmpCrForm.get('seriesS').hasError('pattern')
                          || mEmpCrForm.get('number').hasError('pattern')))">
                <p>Допускаются только цифры!</p>
              </div>
              <div *ngIf="((!mEmpCrForm.get('seriesF').hasError('required')
                          && !mEmpCrForm.get('seriesS').hasError('required')
                          && !mEmpCrForm.get('number').hasError('required'))
                          && (!mEmpCrForm.get('seriesF').hasError('pattern')
                          && !mEmpCrForm.get('seriesS').hasError('pattern')
                          && !mEmpCrForm.get('number').hasError('pattern'))
                          && (mEmpCrForm.get('seriesF').hasError('minlength')
                          || mEmpCrForm.get('seriesS').hasError('minlength')
                          || mEmpCrForm.get('number').hasError('minlength')))">
                <p>Всего должно быть десять цифр!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crMDEMainDept"
           [ngClass]=" {'crMDEValidationDefault': !submitted,
                        'crMDEValidationInvalid': (mEmpCrForm.get('mainDepartment').invalid
                                              &&  submitted),
                         'crMDEValidationValid': mEmpCrForm.get('mainDepartment').valid,
                         'crMDEValidationValidAndFocused': mEmpCrForm.get('mainDepartment').valid
                        &&  mEmpCrForm.get('mainDepartment') === mEmpCrForm.get(inputName) }" >
        <label for="mainDepartment"><b>Департамент</b></label>
        <select id="mainDepartment" formControlName="mainDepartment" >
          <option hidden [value]="null">Выберите Департамент</option>
          <option *ngFor="let mainDepartment of mainDepartments" [value]="mainDepartment.name" >
            {{mainDepartment.name}}
          </option>
        </select>
        <div class="crMDEMainDeptErrorMassage">
          <div [ngClass]="{'crMDEHideErrors': mEmpCrForm.get('mainDepartment').valid || !submitted,
                           'crMDEShowErrors': mEmpCrForm.get('mainDepartment').invalid && submitted}">
            <div *ngIf="mEmpCrForm.get('mainDepartment').invalid && submitted">
              <div *ngIf="mEmpCrForm.get('mainDepartment').hasError('required') ">
                <p>Департамент не выбран!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Добавить</button>
    </div>
  </form>
</div>
