<div>
 <h2>Главные Департаменты</h2>
 <div class="mainDeptList">
   <tr>
    <td class="mdLIdHead"><b>ID</b></td>
    <td class="mdLNameHead"><b>Название</b></td>
   </tr>
   <ul *ngFor="let mainDepartment of mainDepartments" class="mdList">
     <li class="mdLNav">
       <a routerLink="/main_department-detail/{{mainDepartment.name}}">
         <div  class="mdLId">{{mainDepartment.id}}</div>
          {{mainDepartment.name}}
       </a>
     </li>
     <button class="deleteMD"
             (click)="deleteMainDepartment(mainDepartment.name)">x</button>
  </ul>
 </div>
 <button class="addMD" (click)="goToAddMainDepartment()">Добавить департамент</button>
</div>
