.mainDepts{
  width: 777px;
  margin: 0;
}

h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

.mainDeptList{
  border-radius: 40px/15px 15px 0 0;
  border: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
  width: 777px;
  margin: 0;
  -webkit-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  -moz-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  -o-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  box-shadow: inset 0 0 5px rgb(80, 80, 80);
  float: left;
}

.mdHead{
  margin-top: 4px;
  margin-left: 3px;
  height: 26px;
  width: 770px;
}

.mdHead b{
  top: 3px;
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.mdHead span:nth-child(1){
  text-align: center;
  float: left;
  height: 25px;
  width: 40px;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  border-right: solid 1px rgb(130, 130, 130);
  border-bottom: solid 1px rgb(130, 130, 130);
  background-color: rgba(197, 197, 197, 0.2);
  border-radius: 43px/25px 0 0 0;
  z-index: 3;
  position: relative;
}

.mdHead span:nth-child(2){
  float: left;
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 25px;
  width: 728px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 40px 15px;
  position: relative;
}

.mdList{
  padding: 0;
  background-color: white;
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  margin: 0 0 0 3px;
  width: 770px;
  height: 30px;
  list-style-type: none;
  float: left;
}

.mdList a{
  text-decoration: none;
  height: 30px;
  width: 720px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.mdList a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}

.mainDeptNav {
  height: 30px;
  width: 720px;
  float: left;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.mainDeptForAdmin{
  width: 720px;
}

.mainDeptForUser{
  width: 770px;
}

.mainDeptNav:hover{
  background-color: rgba(130, 140, 155, 0.16);
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.mainDeptNav span:nth-child(1){
  background-color: rgba(122, 122, 122, 0.11);
  float: left;
  color: #515151;
  margin: 0;
  text-align: center;
  padding: 6px 0 0 0 ;
  height:24px;
  width: 40px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.mainDeptNav span:nth-child(2){
  float: left;
  height: 24px;
  padding: 6px 0 0 6px;
  width: 672px;
}


.deleteMD{
  background-color: rgba(255, 0, 0, 0.31);
  font-size: medium;
  text-align: center;
  color: white;
  height:30px;
  width: 50px;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.deleteMD:hover{
  -webkit-box-shadow: inset 0 0 10px red;
  -moz-box-shadow: inset 0 0 10px red;
  -o-box-shadow: inset 0 0 10px red;
  box-shadow: inset 0 0 10px red;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.addMD{
  height: 50px;
  width: 150px;
  float: right;
  display: inline-block;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.addMD:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}


