<div>
 <h2>Главные Департаменты</h2>
 <div class="md_body">
   <tr>
    <td class="id_label"><b>ID</b></td>
    <td class="name_label"><b>Название</b></td>
   </tr>
   <ul *ngFor="let mainDepartment of mainDepartments" class="list">
     <li class="md_a">
       <a routerLink="/main_department-detail/{{mainDepartment.name}}">
         <div  class="md_id">{{mainDepartment.id}}</div>
          {{mainDepartment.name}}
       </a>
     </li>
     <button class="delete_md" title="delete"
             (click)="deleteMainDepartment(mainDepartment.name)">x</button>
  </ul>
 </div>
 <button class="add_button" (click)="goToAddMainDepartment()">Добавить департамент</button>
</div>
