<div *ngIf="mainDeptEmployee">
  <h2>{{mainDeptEmployee.lastName}} {{mainDeptEmployee.firstName}} {{mainDeptEmployee.middleName}}</h2>
  <div class="mdEDIdHead">
      <div class="mdEDId">
        <label ><b>ID</b></label>
        <span>{{mainDeptEmployee.id}}</span>
      </div>
      <div>
        <button class="edit_button" (click)="goToUpdateMainDeptEmployee(mainDeptEmployee.lastName,
                 mainDeptEmployee.firstName, mainDeptEmployee.middleName)">Редактировать</button>
      </div>
  </div>
    <div class="mdEDLastName" ><label><b>Фамилия</b></label>
      <span>{{mainDeptEmployee.lastName}}</span>
    </div>
    <div class="mdEDFirstName" ><label><b>Имя</b></label>
      <span>{{mainDeptEmployee.firstName}}</span>
    </div>
     <div class="mdEDMiddleName" ><label><b>Отчество</b></label>
      <span>{{mainDeptEmployee.middleName}}</span>
    </div>
    <div class="mdEDBirthDate" ><label><b>Дата рождения</b></label>
      <span>{{mainDeptEmployee.birthDate}}</span>
    </div>
    <div class="mdEDPassport" ><label><b>Паспортные данные</b></label>
      <span>{{mainDeptEmployee.passport}}</span>
    </div>
  <div class="mdEDMainDeptHead"><b>Главный департамент</b></div>
  <div class="mdEDMainDeptName"><b>Название</b></div>
  <div class="mdEDMainDept">
    <a routerLink="/main_department-detail/{{mainDeptEmployee.mainDepartment}}">
     <div>{{mainDeptEmployee.mainDepartment}}</div>
    </a>
  </div>
</div>
