<div *ngIf="mainDeptEmployee" class="mainDeptEmplDetail" >
  <h2>{{mainDeptEmployee.lastName}} {{mainDeptEmployee.firstName}} {{mainDeptEmployee.middleName}}</h2>
  <div class="mainDeptEmplContent">
    <div class="mdEDIdHead">
      <div class="mdEDId">
        <span><b>ID</b></span>
        <span>{{mainDeptEmployee.id}}</span>
      </div>
      <div class="mdEDUpd">
        <button *ngIf="isAdmin"
                  (click)="goToUpdateMainDeptEmployee(mainDeptEmployee.lastName,
                   mainDeptEmployee.firstName, mainDeptEmployee.middleName)">Редактировать</button>
      </div>
    </div>
    <div class="mdEDLastName">
      <span><b>Фамилия</b></span>
      <span>{{mainDeptEmployee.lastName}}</span>
    </div>
    <div class="mdEDFirstName">
      <span><b>Имя</b></span>
      <span>{{mainDeptEmployee.firstName}}</span>
    </div>
    <div class="mdEDMiddleName">
      <span><b>Отчество</b></span>
      <span>{{mainDeptEmployee.middleName}}</span>
    </div>
    <div>
      <div class="mdEDBirthDate">
        <span><b>Дата рождения</b></span>
        <span>{{mainDeptEmployee.birthDate}}</span>
      </div>
      <div class="mdEDPassport">
        <span><b>Паспортные данные</b></span>
        <span>{{mainDeptEmployee.passport}}</span>
      </div>
    </div>
    <div class="mdEDMainDeptHead"><b>Департамент</b></div>
    <div class="mdEDMainDeptName"><b>Название</b></div>
    <div class="mdEDMainDept">
      <a routerLink="/main_department-detail/{{mainDeptEmployee.mainDepartment}}">
        <span>{{mainDeptEmployee.mainDepartment}}</span>
      </a>
    </div>
  </div>
</div>
<div *ngIf="!mainDeptEmployee" class="mainDeptEmplDetailError">
  <h2>{{errorMessage}}</h2>
</div>
