.mdEDIdHead{
  height: 32px;
  width: 723px;
  display: block;
}

.mdEDId{
  height: 30px;
  width: 613px;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDId b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDId div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDId span{
  position: relative;
  top: 6px;
  left: 20px;
}

.mdEDLastName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDLastName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDLastName span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}
.mdEDLastName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDFirstName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDFirstName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDFirstName span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}

.mdEDFirstName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDMiddleName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDMiddleName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDMiddleName span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}

.mdEDMiddleName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDBirthDate{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDBirthDate div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDBirthDate span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}

.mdEDBirthDate b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDPassport{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDPassport div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.mdEDPassport span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}
.mdEDPassport b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdEDMainDeptHead{
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 30px;
  width: 720px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.mdEDMainDeptHead b{
  position: relative;
  top: 6px;
}

.mdEDMainDeptName{
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 550px;
  margin: 0 0 0 170px;
  text-align: center;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}

.mdEDMainDeptName b{
  position: relative;
  top: 6px;
}

.mdEDMainDept{
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 550px;
  margin: 0 0 0 170px;
  display: inline-block;
}

.mdEDMainDept span{
  position: relative;
  top: 6px;
}

.mdEDMainDept:hover{
  background-color: rgba(130, 140, 155, 0.16);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.mdEDMainDept a{
  padding: 0 0 0 10px;
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 600px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.mdEDMainDept a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}
