<div *ngIf="subDepartment">
  <h2>{{subDepartment.name}}</h2>
  <div class="sdDIdHead" >
    <div class="sdDId">
      <label ><b>ID</b></label>
      <span>{{subDepartment.id}}</span>
    </div>
    <div class="sdDUpd">
      <button  (click)="goToUpdateSubDepartment(subDepartment.name)">Редактировать</button>
    </div>
  </div>
  <div class="sdDName" >
    <label><b>Название</b></label>
    <span>{{subDepartment.name}}</span>
  </div>

  <div class="sdDMainDeptHead"><b>Главный департамент</b></div>
  <div class="sdDMainDeptName"><b>Название</b></div>
  <div class="sdDMainDept">
    <a routerLink="/main_department-detail/{{subDepartment.mainDepartment}}">
      <div>{{subDepartment.mainDepartment}}</div>
    </a>
  </div>
  <div>
    <div class="sdDEmpls"><b>Сотрудники</b></div>
    <div class="sdDEmplsHead">
      <div class="sdDLN"><b>Фамилия</b></div>
      <div class="sdDFN"><b>Имя</b></div>
      <div class="sdDMN"><b>Отчество</b></div>
    </div>
    <div class="sdDEmplsList" *ngFor="let employee of subDepartment.employees">
        <a routerLink="/sub-dept_employee-detail/{{employee.lastName}}/{{employee.firstName}}/{{employee.middleName}}">
          <div>{{employee.lastName}}</div>
          <div>{{employee.firstName}}</div>
          <div>{{employee.middleName}}</div>
        </a>
    </div>
  </div>
</div>
