<div>
  <form [formGroup]="sDeptUpdForm" novalidate (ngSubmit)="updateSubDepartment()" >
    <h2>Редактирование данных подотдела</h2>
    <div *ngIf="subDepartment">
      <div class="upd_sub-dept">
        <div class="name_label">
          <label ><b>Название</b></label>
        </div>
        <div [ngClass]="{'name_default': sDeptUpdForm.controls['name'].untouched,
                         'name_invalid': sDeptUpdForm.controls['name'].invalid
                                        && (sDeptUpdForm.controls['name'].dirty
                                        || sDeptUpdForm.controls['name'].touched),
                         'name_valid': sDeptUpdForm.controls['name'].touched
                                        && sDeptUpdForm.controls['name'].valid }" >
          <input type="text" id="name"
                 [(ngModel)]="subDepartment.name" formControlName="name" >
          <div class="name_error_massage">
            <div *ngIf="sDeptUpdForm.controls['name'].invalid
                && (sDeptUpdForm.controls['name'].dirty
                || sDeptUpdForm.controls['name'].touched)" >
              <div *ngIf="sDeptUpdForm.controls['name'].errors.required">
                <p>Поле не должно быть пустым!</p>
              </div>
              <div *ngIf="sDeptUpdForm.controls['name'].errors.minlength
                        || sDeptUpdForm.controls['name'].errors.pattern">
                <p>Некорректное название!</p>
              </div>
              <div *ngIf="sDeptUpdForm.controls['name'].errors.minlength">
                <p>Название слишком короткое!</p>
              </div>
              <div *ngIf="sDeptUpdForm.controls['name'].errors.pattern">
                <p>Название должно содержать только кириллические, или латинские буквы и пробелы!</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="main_dept_label">
            <label><b>Главный Департамент</b></label>
          </div>
          <div class="sdDMainDeptHead" >
            <select [(ngModel)]="subDepartment.mainDepartment" formControlName="mainDepartment" >
              <option *ngFor="let mainDepartment of mainDepartments" [ngValue]="mainDepartment.name" >
                {{mainDepartment.name}}
              </option>
            </select>
         </div>
        </div>
        <button type="submit">Обновить</button>
      </div>
    </div>
  </form>
</div>
