<div *ngIf="subDepartment">
  <form [formGroup]="sDeptUpdForm" novalidate (ngSubmit)="updateSubDepartment()" >
    <h2>Редактирование данных подотдела</h2>
    <div class="updSubDept">
      <div class="updSDName"
           [ngClass]="{'updSDValidationDefault': sDeptUpdForm.get('name').untouched,
                       'updSDValidationInvalid': sDeptUpdForm.get('name').invalid,
                       'updSDValidationValid': sDeptUpdForm.get('name').valid,
                       'updSDValidationValidAndFocused': sDeptUpdForm.get('name').valid
                      &&  sDeptUpdForm.get('name') === sDeptUpdForm.get(inputName) }" >
        <label for="name"><b>Название</b></label>
        <input type="text" id="name" formControlName="name" >
        <div class="updSDNameErrorMassage">
          <div *ngIf="sDeptUpdForm.get('name').invalid" >
            <div *ngIf="sDeptUpdForm.get('name').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="sDeptUpdForm.get('name').errors.minlength">
              <p>Название слишком короткое!</p>
            </div>
            <div *ngIf="sDeptUpdForm.get('name').errors.pattern">
              <p>Название должно содержать только кириллические, или латинские буквы и пробелы!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="updSDMainDept"
           [ngClass]=" {'updSDValidationDefault': sDeptUpdForm.get('mainDepartment').untouched,
                        'updSDValidationInvalid': sDeptUpdForm.get('mainDepartment').invalid,
                        'updSDValidationValid': sDeptUpdForm.get('mainDepartment').valid,
                        'updSDValidationValidAndFocused': sDeptUpdForm.get('mainDepartment').valid
                        &&  sDeptUpdForm.get('mainDepartment') === sDeptUpdForm.get(inputName) }" >
        <label for="mainDepartment"><b>Департамент</b></label>
        <select id="mainDepartment" formControlName="mainDepartment" >
          <option *ngFor="let mainDepartment of mainDepartments" [value]="mainDepartment.name" >
            {{mainDepartment.name}}
          </option>
        </select>
        <div class="updSDMainDeptErrorMassage">
          <div *ngIf="(sDeptUpdForm.get('mainDepartment').invalid
                  && (sDeptUpdForm.get('mainDepartment').touched
                  || sDeptUpdForm.get('mainDepartment').untouched))" >
            <div *ngIf="sDeptUpdForm.get('mainDepartment').errors.required">
              <p>Департамент не выбран!</p>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Обновить</button>
    </div>
  </form>
</div>
