.mainDeptEmls{
  width: 605px;
  margin: 0 auto;
}

h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

.mainDeptEmplList{
  border-radius: 40px/15px 15px 0 0;
  border: solid 1px rgb(180, 180, 180);
  background-color: white;
  width: 603px;
  margin: 0;
  -webkit-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  -moz-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  -o-box-shadow: inset 0 0 5px rgb(80, 80, 80);
  box-shadow: inset 0 0 5px rgb(80, 80, 80);
  float: left;
  padding: 0 0 3px 0;
}

.mdEHead{
  margin-top: 4px;
  margin-left: 3px;
  height: 26px;
  width: 597px;
}

.mdEHead b{
  top: 3px;
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.mdEHead span {
  text-align: center;
  float: left;
  height: 25px;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 3;
  position: relative;
}

.mainDeptEmplHeadForAdmin span:nth-child(1){
  width: 40px;
  border-right: solid 1px rgb(130, 130, 130);
  border-bottom: solid 1px rgb(130, 130, 130);
  border-radius: 43px/25px 0 0 0;
  background-color: rgba(197, 197, 197, 0.2);
}
.mainDeptEmplHeadForAdmin span:nth-child(2),
.mainDeptEmplHeadForAdmin span:nth-child(3){
  width: 169px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
}
.mainDeptEmplHeadForAdmin span:nth-child(4){
  width: 217px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 40px 15px;
  background-color: rgba(217, 217, 217, 0.25);
}

.mainDeptEmplHeadForUser span:nth-child(1){
  width: 40px;
  border-right: solid 1px rgb(130, 130, 130);
  border-bottom: solid 1px rgb(130, 130, 130);
  border-radius: 43px/25px 0 0 0;
  background-color: rgba(197, 197, 197, 0.2);
}
.mainDeptEmplHeadForUser span:nth-child(2),
.mainDeptEmplHeadForUser span:nth-child(3){
  width: 185px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
}

.mainDeptEmplHeadForUser span:nth-child(4){
  width: 185px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 40px 15px;
  background-color: rgba(217, 217, 217, 0.25);
}

.mdEList{
  padding: 0;
  background-color: white;
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  margin: 0 0 0 3px;
  width: 597px;
  height: 30px;
  list-style-type: none;
  float: left;
}

.mdEList a{
  text-decoration: none;
  height: 30px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.mdEList a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}

.mainDeptEmplNav {
  height: 30px;
  float: left;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.mainDeptEmplNavForAdmin{
  width: 547px;
}

.mainDeptEmplNavForAdmin span:nth-child(1){
  width: 40px;
}

.mainDeptEmplNavForAdmin span:nth-child(2){
  width: 162px;
}

.mainDeptEmplNavForAdmin span:nth-child(2){
  width: 161px;
}

.mainDeptEmplNavForUser{
  width: 597px;
}

.mainDeptEmplNavForUser span:nth-child(1){
  width: 40px;
}

.mainDeptEmplNavForUser span:nth-child(2){
  width: 178px;
}

.mainDeptEmplNavForUser span:nth-child(2){
  width: 177px;
}

.mainDeptEmplNav span:nth-child(1){
  background-color: rgba(122, 122, 122, 0.11);
  float: left;
  color: #515151;
  margin: 0;
  text-align: center;
  padding: 6px 0 0 0 ;
  height:24px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.mainDeptEmplNav span:nth-child(2),
.mainDeptEmplNav span:nth-child(3){
  float: left;
  height: 24px;
  padding: 6px 0 0 6px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.mainDeptEmplNav span:nth-child(4){
  float: left;
  height: 24px;
  padding: 6px 0 0 6px;
}

.mainDeptEmplNav:hover{
  background-color: rgba(130, 140, 155, 0.16);
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.deleteMDE{
  background-color: rgba(255, 0, 0, 0.31);
  font-size: medium;
  text-align: center;
  color: white;
  height:30px;
  width: 50px;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.deleteMDE:hover{
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: inset 0 0 10px red;
  -moz-box-shadow: inset 0 0 10px red;
  -o-box-shadow: inset 0 0 10px red;
  box-shadow: inset 0 0 10px red;
}

.addMDE {
  height: 50px;
  width: 150px;
  float: right;
  border-radius: 0 0 15px 0;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.addMDE:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}
