<div>
 <h2>Сотрудники Главных Департаментов</h2>
 <div class="md_emp_body">
   <tr>
     <td class="id_label"><b>ID</b></td>
     <td class="last_name_label"><b>Фамилия</b></td>
     <td class="first_name_label"><b>Имя</b></td>
     <td class="middle_name_label"><b>Отчество</b></td>
   </tr>
   <ul class="list" *ngFor="let employee of mainDeptEmployees">
     <li class="md_emp_a" >
       <a routerLink="/main_dept_employee-detail/{{employee.lastName}}/{{employee.firstName}}/{{employee.middleName}}">
         <tr>
         <td  class="md_emp_id">{{employee.id}}</td>
         <td class="md_emp_last_name">{{employee.lastName}}</td>
         <td class="md_emp_first_name">{{employee.firstName}}</td>
         <td class="md_emp_middle_name">{{employee.middleName}}</td>
         </tr>
       </a>
     </li>
     <button class="delete_md_emp" title="delete hero"
            (click)="deleteMainDeptEmployee(
            employee.lastName,
            employee.firstName,
            employee.middleName)">x</button>
   </ul>
 </div>
  <button class="add_button" (click)="goToAddMainDeptEmployee()">Добавить Сотрудника</button>
</div>

