<div *ngIf="user" class="userDetail">
  <h2>{{user.username}}</h2>
  <div class="userContent">
    <div class="userDUsername">
      <span><b>Логин</b></span>
      <span>{{user.username}}</span>
    </div>
    <div class="userDEmail">
      <span><b>Е-мейл</b></span>
      <span>{{user.email}}</span>
    </div>
    <div class="userDBirthDate">
      <span><b>Дата рождения</b></span>
      <span>{{user.birthDate}}</span>
    </div>
    <div class="userDGender">
      <span><b>Пол</b></span>
      <span *ngIf="user.gender === 'male'">Мужской</span>
      <span *ngIf="user.gender === 'female'">Женский</span>
    </div>
  </div>
  <button *ngIf="isCurrentUser()"
            (click)="goToUpdateUser(user.username)">Редактировать</button>
  </div>
<div *ngIf="!user" class="userDetailError">
  <h2>{{errorMessage}}</h2>
</div>
