.subDeptEmplList{
  border-radius: 40px/15px 15px 0 0;
  border: ridge 1px rgba(0, 0, 0, 0.22);
  background-color: white;
  width: 600px;
  margin: 0;
  box-shadow: inset 3px 0 3px rgba(0, 0, 0, 0.44);
  position: relative;
}
.sdELIdHead{
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 3;
  text-align: center;
  position: static;
  height: 25px;
  width: 41px;
  left: 2px;
  top: 0;
  border-radius: 40px/25px 0 0 0;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
}
.sdELLastNameHead{
  margin-left: 40px;
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  padding: 5px 0 0 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 25px;
  width: 168px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}
.sdELFirstNameHead{
  margin-left: 40px;
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  padding: 5px 0 0 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 25px;
  width: 169px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.sdELMiddleNameHead{
  margin-left: 40px;
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  padding: 5px 0 0 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 25px;
  width: 220px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 40px 15px;
}

.sdELId{
  background-color: rgba(122, 122, 122, 0.11);
  display: inline-block;
  position: relative;
  color: #515151;
  margin: 0;
  text-align: center;
  top: 0;
  height:25px;
  width: 36px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.sdELLastName{
  padding-left: 10px;
  width: 158px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.sdELFirstName{
  padding-left: 10px;
  width: 158px;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.sdELMiddleName{
  padding-left: 10px;
  width: 158px;
  position: relative;
}

.sdEList{
  padding: 0;
  background-color: white;
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  margin: 0 0 0 5px;
  width: 592px;
  height: 25px;
  list-style-type: none;
}

.sdELNav{
  height: 25px;
  width: 547px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.sdEList a{
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 20px;
  width: 542px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.deleteSDE{
  background-color: rgba(255, 0, 0, 0.31);
  font-size: medium;
  text-align: center;
  color: white;
  height:25px;
  width: 50px;
  position: relative;
  top: -25px;
  left: 545px;
  bottom: 0;
  right: 0;
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}

.sdELNav:hover{
  background-color: rgba(130, 140, 155, 0.16);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.deleteSDE:hover{
  box-shadow: inset 0 0 10px red;
}

.sdEList a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}
.addSDE{
  height: 50px;
  width: 150px;
  margin-left: 452px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}
.addSDE:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
}


