h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

form {
  width: max-content;
  margin: 0 auto;
}

.resetForgottenPassword{
  height: 170px;
  width:602px;
  border-radius: 10px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: inset 0 0 5px 2px rgb(180, 180, 180);
  -moz-box-shadow: inset 0 0 5px 2px rgb(180, 180, 180);
  -o-box-shadow: inset 0 0 5px 2px rgb(180, 180, 180);
  box-shadow: inset 0 0 5px 2px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.resetForgottenPassword b{
  position: relative;
  top: 8px;
  right: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.resetForgottenPassword p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.resetFPValidationDefault input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.resetFPValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(240, 150, 150);
  -moz-box-shadow: 3px 0 5px rgb(240, 150, 150);
  -o-box-shadow: 3px 0 5px rgb(240, 150, 150);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.resetFPValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.resetFPValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(190, 240, 190);
  -moz-box-shadow: 3px 0 5px rgb(190, 240, 190);
  -o-box-shadow: 3px 0 5px rgb(190, 240, 190);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.resetFPHideErrors {
  top: -15px;
  position: relative;
  -moz-opacity: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.resetFPShowErrors {
  -webkit-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  -moz-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  -o-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  top: 0;
  position: relative;
  -moz-opacity: 1;
  opacity: 1;
  height: 19px;
  overflow: hidden;
}

.resetFPErrorMassage {
  margin: 10px auto 0 auto;
  padding: 6px 0 0 0;
  height: 24px;
  min-width: 50px;
  max-width: max-content;
}


.resetFPPassword{
  margin: 0 auto;
  height: 52px;
  width: 508px;
}

.resetFPPassword label:first-child{
  text-align: right;
  position: relative;
  float: left;
  border-radius: 10px 0 0 10px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 76px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.resetFPPassword input[type=text],
.resetFPPassword input[type=password]{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 10px 10px 0;
  position: relative;
  height: 35px;
  width: 418px;
  background-color: rgb(255, 255, 255);
}

.resetFPPassword input[type=checkbox]{
  display: none;
}

.resetFPPassword label:nth-child(3) {
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
}

.resetFPPassword label:nth-child(3) .hideNewPassword{
  opacity: 0.8;
  position: absolute;
  float: right;
  top: 11px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: url(src/images/HidePasswod.png) 0 0 no-repeat;
  background-size: cover;
}

.resetFPPassword label:nth-child(3) .showNewPassword{
  opacity: 0.8;
  position: absolute;
  float: right;
  top: 11px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: url(src/images/ShowPassword.png) 0 0 no-repeat;
  background-size: cover;
}

.resetFPPasswordErrorMassage {
  padding: 0;
  height: 20px;
  width: 373px;
  float: left;
  margin: 0 0 0 107px;
}

.resetFPConfirmPassword {
  margin: 0 auto;
  height: 52px;
  width: 508px;
}

.resetFPConfirmPassword label:first-child {
  text-align: right;
  position: relative;
  float: left;
  border-radius: 10px 0 0 10px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 189px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.resetFPConfirmPassword input[type=text],
.resetFPConfirmPassword input[type=password]{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 10px 10px 0;
  position: relative;
  height: 35px;
  width: 305px;
  background-color: rgb(255, 255, 255);
}

.resetFPConfirmPassword input[type=checkbox]{
  display: none;
}

.resetFPConfirmPassword label:nth-child(3) {
  float: right;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
}

.resetFPConfirmPassword label:nth-child(3) .hideConfirmPassword{
  opacity: 0.8;
  position: absolute;
  float: right;
  top: 16px;
  width: 15px;
  height: 15px;
  background: url(src/images/HidePasswod.png) 0 0 no-repeat;
  background-size: cover;
}

.resetFPConfirmPassword label:nth-child(3) .showConfirmPassword{
  opacity: 0.8;
  position: absolute;
  float: right;
  top: 16px;
  width: 15px;
  height: 15px;
  background: url(src/images/ShowPassword.png) 0 0 no-repeat;
  background-size: cover;
}

.resetFPConfirmPasswordErrorMassage {
  padding: 0;
  height: 20px;
  width: 250px;
  float: left;
  margin: 0 0 0 200px;
}


.resetForgottenPassword button:nth-child(4){
  margin: 16px 0 0 6px;
  float: left;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 0 0 0 15px;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.hideGoToBack{
  display: none;
}

.showGoToBack{
  display: block;
}

.resetForgottenPassword button:hover:nth-child(4){
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}


.resetForgottenPassword button:nth-child(5){
  margin: 17px 6px 0 0;
  display: block;
  float: right;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.resetForgottenPassword button:hover:nth-child(5){
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.resetFPUrlError{
  margin: 10px auto;
  height: 50px;
  width: max-content;
}
.resetFPUrlError h2{
  margin: 0;
  color: rgb(240, 150, 150);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  padding: 12px 20px 0 20px;
  float: left;
  display: block;
  height: 38px;
  width: max-content;
  border: solid 1px rgb(240, 150, 150);
  -webkit-box-shadow: 0 0 5px rgb(240, 150, 150);
  -moz-box-shadow: 0 0 5px rgb(240, 150, 150);
  -o-box-shadow: 0 0 5px rgb(240, 150, 150);
  box-shadow: 0 0 5px rgb(240, 150, 150);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.resetFPUrlError button{
  display: block;
  float: right;
  height: 52px;
  width: max-content;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  border: 1px solid  rgb(240, 150, 150);
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(240, 150, 150);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(240, 150, 150);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(240, 150, 150);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(240, 150, 150);
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 27%, rgb(255, 199, 199) 100%);
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}


.resetFPUrlError button:hover {
  background-image: linear-gradient(to bottom,rgb(240, 240, 240) 27%, rgb(240, 150, 150) 100%);
  -webkit-box-shadow: inset 0 0 15px rgb(255, 200, 200);
  -moz-box-shadow: inset 0 0 15px rgb(255, 200, 200);
  -o-box-shadow: inset 0 0 15px rgb(255, 200, 200);
  box-shadow: inset 0 0 15px rgb(255, 200, 200);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}
