<div *ngIf="token && !errorMessageByUrl">
  <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetForgottenPassword()">
    <h2>Ввод нового пароля</h2>
    <div class="resetForgottenPassword">
      <div class="resetFPErrorMassage" >
          <div *ngIf="errorMessage">
            <div *ngIf="errorMessage">
              <p>{{errorMessage}}</p>
            </div>
        </div>
      </div>

      <div class="resetFPPassword"
           [ngClass]="{'resetFPValidationDefault': !submitted,
                       'resetFPValidationInvalid': resetPasswordForm.get('password').invalid && submitted,
                       'resetFPValidationValid': resetPasswordForm.get('password').valid,
                       'resetFPValidationValidAndFocused': resetPasswordForm.get('password').valid
                        &&  resetPasswordForm.get('password') === resetPasswordForm.get(inputName) }" >
        <label for="password"><b>Пароль</b></label>
        <input id="password" placeholder="Введите пароль"
               [type]="changeNewPasswordType ? 'text' : 'password'"
               formControlName="password" >
        <label for="changeNewPasswordType">
          <span class="hideNewPassword" *ngIf="!changeNewPasswordType"></span>
          <span class="showNewPassword" *ngIf="changeNewPasswordType"></span>
        </label>
        <input type="checkbox" id="changeNewPasswordType"
               (click)="changeNewPasswordType = !changeNewPasswordType">
        <div class="resetFPPasswordErrorMassage" >
          <div [ngClass]="{'resetFPHideErrors': resetPasswordForm.get('password').valid || !submitted,
                           'resetFPShowErrors': resetPasswordForm.get('password').invalid && submitted}">
            <div *ngIf="resetPasswordForm.get('password').invalid && submitted">
              <div *ngIf="resetPasswordForm.get('password').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resetFPConfirmPassword"
           [ngClass]="{'resetFPValidationDefault': !submitted,
                       'resetFPValidationInvalid': resetPasswordForm.get('confirmPassword').invalid && submitted,
                       'resetFPValidationValid': resetPasswordForm.get('confirmPassword').valid,
                       'resetFPValidationValidAndFocused': resetPasswordForm.get('confirmPassword').valid
                              &&  resetPasswordForm.get('confirmPassword') === resetPasswordForm.get(inputName) }">
        <label for="confirmPassword"><b>Подтверждение пароля</b></label>
        <input id="confirmPassword" placeholder="Подтверждение пароля"
               [type]="changeConfirmPasswordType ? 'text' : 'password'"
               formControlName="confirmPassword" >
        <label for="changeConfirmPasswordType">
          <span class="hideConfirmPassword" *ngIf="!changeConfirmPasswordType"></span>
          <span class="showConfirmPassword" *ngIf="changeConfirmPasswordType"></span>
        </label>
        <input type="checkbox" id="changeConfirmPasswordType"
               (click)="changeConfirmPasswordType = !changeConfirmPasswordType">
        <div class="resetFPConfirmPasswordErrorMassage">
          <div [ngClass]="{'resetFPHideErrors': resetPasswordForm.get('confirmPassword').valid || !submitted,
                           'resetFPShowErrors': resetPasswordForm.get('confirmPassword').invalid && submitted}">
            <div *ngIf="resetPasswordForm.get('confirmPassword').invalid" >
              <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="resetPasswordForm.get('confirmPassword').hasError('notEqual')">
                <p>Пароли не совпадают!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button"
              [ngClass]="{'hideGoToBack': !errorMessage,
                          'showGoToBack': errorMessage}"
              (click)="goToForgotPassword()">Вернуться к сбросу пароля</button>
      <button type="submit">Сохранить пароль</button>
    </div>
  </form>
</div>
<div *ngIf="!token && errorMessageByUrl" class="resetFPUrlError">
  <h2>{{errorMessageByUrl}}</h2>
  <button type="button"
          (click)="goToForgotPassword()">Вернуться к сбросу пароля</button>
</div>
