<div>
  <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="getUsersEmail()">
    <h2>Восстановление пароля</h2>
    <div class="forgotPassword" *ngIf="showForgotPassword">
      <div class="forgotPasswordErrorMassage" >
        <div [ngClass]="{'forgotPasswordHideErrors': !errorMessage || !submitted,
                         'forgotPasswordShowErrors':  errorMessage && submitted}">
          <div *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
          </div>
        </div>
      </div>

      <div class="emailForgotPassword"
           [ngClass]="{'forgotPasswordValidationDefault': !submitted,
                       'forgotPasswordValidationInvalid': forgotPasswordForm.get('email').invalid && submitted,
                       'forgotPasswordValidationValid': forgotPasswordForm.get('email').valid}" >
        <label for="email"><b>Е-мейл</b></label>
        <input id="email" type="email" placeholder="Введите е-мейл" formControlName="email" >
        <div class="forgotPasswordEmailErrorMassage" >
          <div [ngClass]="{'loginHideErrors': forgotPasswordForm.get('email').valid || !submitted,
                           'loginShowErrors': forgotPasswordForm.get('email').invalid && submitted}">
            <div *ngIf="forgotPasswordForm.get('email').invalid && submitted">
              <div *ngIf="forgotPasswordForm.get('email').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="forgotPasswordForm.get('email').hasError('email')">
                <p>Некорректный е-мейл!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Отправить</button>
    </div>
  </form>

  <svg class="spinner" *ngIf="showSpinner  && !successMessage"
       viewBox="0 0 50 50" >
    <circle class="path" cx="25" cy="25" r="20" ></circle>
  </svg>

  <div class="successMessage" *ngIf="successMessage" >
    <p>
      {{successMessage}}
    </p>
  </div>
</div>
