.subDeptEmplDetail{
  height: max-content;
  width: max-content;
  margin: 0;
}

.subDeptEmplContent{
  display: inline-block;
  width: 703px;
}

h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

.sdEDIdHead{
  height: 32px;
  width: 699px;
  display: inline-block;
  float: left;
}

.sdEDId{
  height: 30px;
  width: 585px;
  border-left: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  float: left;
  background-color: rgb(255, 255, 255);
}

.sdEDId b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDId span:nth-child(1){
  float: left;
  text-align: right;
  width: 94px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDId span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  left: 10px;
}
.sdEDUpd{
  height: 30px;
  width: 111px;
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
  float: left;
  border-radius: 0 15px 0 0;
  background-color: rgb(255, 255, 255);
}

.sdEDUpd button{
  padding: 6px;
  display: block;
  border: none;
  border-left: 1px solid  rgb(180, 180, 180);
  border-radius: 0 15px 0 0;
  cursor: pointer;
  outline: none;
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  color: rgb(80, 80, 80);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.sdEDUpd button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.sdEDLastName{
  float: left;
  display: inline-block;
  height: 30px;
  width: 696px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.sdEDLastName b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDLastName span:nth-child(1){
  float: left;
  text-align: right;
  height: 30px;
  width: 94px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDLastName span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.sdEDFirstName{
  float: left;
  display: inline-block;
  height: 30px;
  width: 696px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.sdEDFirstName b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDFirstName span:nth-child(1){
  float: left;
  text-align: right;
  height: 30px;
  width: 94px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDFirstName span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.sdEDMiddleName{
  float: left;
  display: inline-block;
  height: 30px;
  width: 696px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.sdEDMiddleName b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDMiddleName span:nth-child(1){
  float: left;
  text-align: right;
  height: 30px;
  width: 94px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDMiddleName span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.sdEDBirthDate{
  float: left;
  display: inline-block;
  height: 30px;
  width: 298px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.sdEDBirthDate b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDBirthDate span:nth-child(1){
  float: left;
  text-align: right;
  height: 30px;
  width: 132px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDBirthDate span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.sdEDPassport{
  float: left;
  display: inline-block;
  height: 30px;
  width: 396px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.sdEDPassport b{
  position: relative;
  top: 6px;
  right: 13px;
}

.sdEDPassport span:nth-child(1){
  float: left;
  text-align: right;
  height: 30px;
  width: 170px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.sdEDPassport span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.sdEDSubDeptHead{
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  padding: 0 0 0 97px;
  width: 599px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  float: left;
}

.sdEDSubDeptHead b{
  position: relative;
  top: 6px;
}

.sdEDSubDeptName{
  float: left;
  margin: 0 0 0 97px;
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  height: 30px;
  width: 599px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  position: relative;
}

.sdEDSubDeptName b{
  position: relative;
  top: 6px;
}

.sdEDSubDept{
  background-color: rgb(255, 255, 255);
  float: left;
  border-left: ridge 1px rgb(180, 180, 180);
  border-right: ridge 1px rgb(180, 180, 180);
  list-style-type: none;
  height: 30px;
  width: 599px;
  margin: 0 0 0 97px;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.sdEDSubDept span{
  margin: 0;
  position: relative;
  top: 6px;
}

.sdEDSubDept:hover{
  background-color: rgb(240, 240, 240);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  position: relative;
  z-index: 2;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.sdEDSubDept a{
  padding: 0 0 0 10px;
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 600px;
  color: #5b5b5b;
  text-shadow: 0 0 1px rgb(226, 226, 226);
}

.sdEDSubDept a:hover{
  color: #000000;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.subDeptEmplDetailError{
  margin: 10px auto;
  height: 50px;
  width: max-content;
  border: solid 1px rgb(240, 150, 150);
  -webkit-box-shadow: 0 0 5px rgb(240, 150, 150);
  -moz-box-shadow: 0 0 5px rgb(240, 150, 150);
  -o-box-shadow: 0 0 5px rgb(240, 150, 150);
  box-shadow: 0 0 5px rgb(240, 150, 150);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.subDeptEmplDetailError h2{
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
  color: rgb(240, 150, 150);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
