.sdEDIdHead{
  height: 32px;
  width: 723px;
  display: block;
}

.sdEDId{
  height: 30px;
  width: 613px;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDId b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDId div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDId span{
  position: relative;
  top: 6px;
  left: 20px;
}

.sdEDLastName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDLastName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDLastName span {
  position: relative;
  top: 6px;
  left: 20px;
}
.sdEDLastName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDFirstName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDFirstName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDFirstName span {
  position: relative;
  top: 6px;
  left: 20px;
}

.sdEDFirstName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDMiddleName{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDMiddleName div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDMiddleName span {
  position: relative;
  top: 6px;
  left: 20px;
}

.sdEDMiddleName b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDBirthDate{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDBirthDate div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDBirthDate span {
  position: relative;
  top: 6px;
  left: 20px;
}

.sdEDBirthDate b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDPassport{
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDPassport div{
  width: 169px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.sdEDPassport span {
  position: relative;
  top: 6px;
  left: 20px;
}
.sdEDPassport b{
  position: relative;
  top: 6px;
  left: 9px;
}

.sdEDSubDeptHead{
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 30px;
  width: 720px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
}

.sdEDSubDeptHead b{
  position: relative;
  top: 6px;
}

.sdEDSubDeptName{
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 550px;
  margin: 0 0 0 170px;
  text-align: center;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}

.sdEDSubDeptName b{
  position: relative;
  top: 6px;
}

.sdEDSubDept{
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 550px;
  margin: 0 0 0 170px;
  display: inline-block;
}

.sdEDSubDept span{
  position: relative;
  top: 6px;
}

.sdEDSubDept:hover{
  background-color: rgba(130, 140, 155, 0.16);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.sdEDSubDept a{
  padding: 0 0 0 10px;
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 600px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.sdEDSubDept a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}
