<div *ngIf="mainDeptEmployee">
  <div>
    <label><b>Id</b></label>{{mainDeptEmployee.id}}
  </div>
  <div>
    <label><b>Last Name</b></label>{{mainDeptEmployee.lastName}}
  </div>
  <div>
    <label><b>First Name</b></label>{{mainDeptEmployee.firstName}}
  </div>
  <div>
    <label><b>Middle Name</b></label>{{mainDeptEmployee.middleName}}
  </div>
  <div>
    <label><b>Birth Date</b></label>{{mainDeptEmployee.birthDate}}
  </div>
  <div>
    <label><b>Passport</b></label>{{mainDeptEmployee.passport}}
  </div>
  <div>
    <label><b>Main Department</b></label>{{mainDeptEmployee.mainDepartment}}
  </div>

  <button (click)="goToUpdateMainDeptEmployee(mainDeptEmployee.id)"><bdo dir="ltr">&#9998;</bdo> </button>
</div>
