<div>
  <form [formGroup]="regForm" novalidate (ngSubmit)="register()" >
    <h2>Регистрация</h2>
    <div class="register">
      <div class="username_label">
        <label><b>Логин</b></label>
      </div>
      <div [ngClass]="{'username_default': regForm.controls['username'].untouched,
                         'username_invalid': regForm.controls['username'].invalid
                                            && (regForm.controls['username'].dirty
                                            || regForm.controls['username'].touched),
                         'username_valid': regForm.controls['username'].touched
                                            && regForm.controls['username'].valid }" >
        <input type="text" id="username" placeholder="Введите Kjuby"
               [(ngModel)]="user.username"  formControlName="username" >
        <div class="username_error_massage">
          <div *ngIf="regForm.controls['username'].invalid
                && (regForm.controls['username'].dirty
                || regForm.controls['username'].touched)" >
            <div *ngIf="regForm.controls['username'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['username'].errors.minlength
                        || regForm.controls['username'].errors.pattern">
              <p>Некорректная фамилия!</p>
            </div>
            <div *ngIf="regForm.controls['username'].errors.minlength">
              <p>Фамилия слишком короткая!</p>
            </div>
            <div *ngIf="regForm.controls['username'].errors.pattern">
              <p>Фамилия должна содержать только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>

















      <div class="password_label">
        <label><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'password_default': regForm.controls['password'].untouched,
                       'password_invalid': regForm.controls['password'].invalid
                                           && (regForm.controls['password'].dirty
                                           || regForm.controls['password'].touched),
                       'password_valid': regForm.controls['password'].touched
                                           && regForm.controls['password'].valid }" >
        <input type="text" id="password" placeholder="Введите имя"
               [(ngModel)]="user.password"  formControlName="password" >
        <div class="password_error_massage">
          <div *ngIf="regForm.controls['password'].invalid
              && (regForm.controls['password'].dirty
              || regForm.controls['password'].touched)" >
            <div *ngIf="regForm.controls['password'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['password'].errors.minlength
                      || regForm.controls['password'].errors.pattern">
              <p>Некорректное имя!</p>
            </div>
            <div *ngIf="regForm.controls['password'].errors.minlength">
              <p>Имя слишком короткое!</p>
            </div>
            <div *ngIf="regForm.controls['password'].errors.pattern">
              <p>Имя должно содержать только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>


      <div class="conform_password_label">
        <label><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'conform_password_default': regForm.controls['conformPassword'].untouched,
                       'conform_password_invalid': regForm.controls['conformPassword'].invalid
                                           && (regForm.controls['conformPassword'].dirty
                                           || regForm.controls['conformPassword'].touched),
                       'password_valid': regForm.controls['conformPassword'].touched
                                           && regForm.controls['conformPassword'].valid }" >
        <input type="text" id="conformPassword" placeholder="Введите имя"
               [(ngModel)]="user.password"  formControlName="conformPassword" >
        <div class="conform_password_error_massage">
          <div *ngIf="regForm.controls['conformPassword'].invalid
              && (regForm.controls['conformPassword'].dirty
              || regForm.controls['conformPassword'].touched)" >
            <div *ngIf="regForm.controls['conformPassword'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['conformPassword'].errors.minlength
                      || regForm.controls['conformPassword'].errors.pattern">
              <p>Некорректное имя!</p>
            </div>
            <div *ngIf="regForm.controls['conformPassword'].errors.minlength">
              <p>Имя слишком короткое!</p>
            </div>
            <div *ngIf="regForm.controls['conformPassword'].errors.pattern">
              <p>Имя должно содержать только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>


      <div class="birth_date_label">
        <label><b>Дата рождения</b></label>
      </div>
      <div [ngClass]="{'birth_date_default': regForm.controls['birthDate'].untouched,
                       'birth_date_invalid': regForm.controls['birthDate'].invalid
                                           && (regForm.controls['birthDate'].dirty
                                           || regForm.controls['birthDate'].touched),
                       'birth_date_valid': regForm.controls['birthDate'].touched
                                           && regForm.controls['birthDate'].valid }" >
        <input type="text" id="birthDate"
               placeholder="Введите дату рождения (дд/месяц/гггг)"
               [(ngModel)]="user.birthDate"  formControlName="birthDate" >
        <div class="birth_date_error_massage">
          <div *ngIf="regForm.controls['birthDate'].invalid
              && (regForm.controls['birthDate'].dirty
              || regForm.controls['birthDate'].touched)" >
            <div *ngIf="regForm.controls['birthDate'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['birthDate'].errors.pattern">
              <p>Некорректная дата!</p>
            </div>
            <div *ngIf="regForm.controls['birthDate'].errors.pattern">
              <p>Образец: 01/сентября/1970</p>
            </div>
          </div>
        </div>
      </div>




    <div class="gender_label">
      <label><b>Пол</b></label>
    </div>

      <div [ngClass]="{'gender_default': regForm.controls['gender'].untouched,
                       'gender_invalid': regForm.controls['gender'].invalid
                                           && (regForm.controls['gender'].dirty
                                           || regForm.controls['gender'].touched),
                       'gender_valid': regForm.controls['gender'].touched
                                           && regForm.controls['gender'].valid }" >
        <input type="text" id="gender"
               placeholder="Введите данные (Серия: .. .. Номер: ......)"
               [(ngModel)]="user.gender"  formControlName="gender" >
        <div class="gender_error_massage">
          <div *ngIf="regForm.controls['gender'].invalid
              && (regForm.controls['gender'].dirty
              || regForm.controls['gender'].touched)" >
            <div *ngIf="regForm.controls['gender'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['gender'].errors.pattern">
              <p>Некорректные паспортные данные!</p>
            </div>
            <div *ngIf="regForm.controls['gender'].errors.pattern">
              <p>Образец: Серия: 00 00 Номер: 000000</p>
            </div>
          </div>
        </div>
      </div>


      <div class="roles_label">
        <label><b>Дата рождения</b></label>
      </div>
      <div [ngClass]="{'roles_default': regForm.controls['roles'].untouched,
                       'roles_invalid': regForm.controls['roles'].invalid
                                           && (regForm.controls['roles'].dirty
                                           || regForm.controls['roles'].touched),
                       'roles_valid': regForm.controls['roles'].touched
                                           && regForm.controls['roles'].valid }" >
        <input type="text" id="roles"
               placeholder="roles"
               [(ngModel)]="user.roles"  formControlName="roles" >
        <div class="roles_error_massage">
          <div *ngIf="regForm.controls['roles'].invalid
              && (regForm.controls['roles'].dirty
              || regForm.controls['roles'].touched)" >
            <div *ngIf="regForm.controls['roles'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.controls['roles'].errors.pattern">
              <p>Некорректная дата!</p>
            </div>
            <div *ngIf="regForm.controls['roles'].errors.pattern">
              <p>Образец: 01/сентября/1970</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
