<div>
  <form [formGroup]="regForm" novalidate (ngSubmit)="register()" >
    <h2>Регистрация</h2>
    <div class="registration" >

      <div class="regUserErrorMassage" >
        <div [ngClass]="{'regUserHideErrors': !errorMessage || !submitted,
                         'regUserShowErrors':  errorMessage && submitted}">
        <div *ngIf="errorMessage && submitted">
            <p>{{errorMessage}}</p>
          </div>
        </div>
      </div>

      <div class="regUserUsername"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('username').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('username').valid,
                       'regUserValidationValidAndFocused': regForm.get('username').valid
                        &&  regForm.get('username') === regForm.get(inputName) }">
        <label for="username"><b>Логин</b></label>
        <input type="text" id="username" placeholder="Введите логин"
               formControlName="username" >
        <div class="regUserUsernameErrorMassage">
          <div [ngClass]="{'regUserHideErrors': regForm.get('username').valid || !submitted,
                           'regUserShowErrors': regForm.get('username').invalid && submitted}">
            <div *ngIf="regForm.get('username').invalid && submitted">
              <div *ngIf="regForm.get('username').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="regForm.get('username').hasError('pattern')">
                <p>Логин должен содержать только буквы, либо цифры!</p>
              </div>
              <div *ngIf="regForm.get('username').hasError('maxlength')">
                <p>Количество символов должно быть не более 20!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserEmail"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('email').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('email').valid,
                       'regUserValidationValidAndFocused': regForm.get('email').valid
                        &&  regForm.get('email') === regForm.get(inputName) }">
        <label for="email"><b>Е-мейл</b></label>
        <input type="email" id="email" placeholder="Введите е-мейл"
               formControlName="email" >
        <div class="regUserEmailErrorMassage">
          <div [ngClass]="{'regUserHideErrors': regForm.get('email').valid || !submitted,
                           'regUserShowErrors': regForm.get('email').invalid && submitted}">
            <div *ngIf="regForm.get('email').invalid && submitted">
              <div *ngIf="regForm.get('email').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="regForm.get('email').hasError('email')">
                <p>Емейл адрес невалидный!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserPassword"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('password').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('password').valid,
                       'regUserValidationValidAndFocused': regForm.get('password').valid
                        &&  regForm.get('password') === regForm.get(inputName) }">
        <label for="password"><b>Пароль</b></label>
        <input id="password" placeholder="Введите пароль"
               [type]="changePasswordType ? 'text' : 'password'"
                formControlName="password" >
        <label for="changePasswordType">
          <span class="hidePassword" *ngIf="!changePasswordType"></span>
          <span class="showPassword" *ngIf="changePasswordType"></span>
        </label>
        <input type="checkbox" id="changePasswordType"
               (click)="changePasswordType = !changePasswordType">
        <div class="regUserPasswordErrorMassage">
          <div [ngClass]="{'regUserHideErrors': regForm.get('password').valid || !submitted,
                           'regUserShowErrors': regForm.get('password').invalid && submitted}">
            <div *ngIf="regForm.get('password').invalid && submitted" >
              <div *ngIf="regForm.get('password').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="regForm.get('password').hasError('minlength')">
                <p>Пароль должен содержать минимум 6 символов!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserConfirmPassword"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('confirmPassword').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('confirmPassword').valid,
                       'regUserValidationValidAndFocused': regForm.get('confirmPassword').valid
                        &&  regForm.get('confirmPassword') === regForm.get(inputName) }">
        <label for="confirmPassword"><b>Подтверждение пароля</b></label>
        <input id="confirmPassword" placeholder="Повторите пароль"
               [type]="changeConfirmPasswordType ? 'text' : 'password'"
               formControlName="confirmPassword" >
        <label for="changeConfirmPasswordType">
          <span class="hideConfirmPassword" *ngIf="!changeConfirmPasswordType"></span>
          <span class="showConfirmPassword" *ngIf="changeConfirmPasswordType"></span>
        </label>
        <input type="checkbox" id="changeConfirmPasswordType"
               (click)="changeConfirmPasswordType = !changeConfirmPasswordType">
        <div class="regUserConfirmPasswordErrorMassage">
          <div [ngClass]="{'regUserHideErrors': regForm.get('confirmPassword').valid || !submitted,
                           'regUserShowErrors': regForm.get('confirmPassword').invalid && submitted}">
            <div *ngIf="regForm.get('confirmPassword').invalid && submitted" >
              <div *ngIf="regForm.get('confirmPassword').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="regForm.get('confirmPassword').hasError('notEqual')">
                <p>Пароли не совпадают!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserBirthDate"
           [ngClass]=" {'regUserValidationDefault': !submitted,
                        'regUserValidationInvalid': (regForm.get('day').invalid
                                               || regForm.get('month').invalid
                                               || regForm.get('year').invalid )
                                               && submitted,
                        'regUserValidationValid': regForm.get('day').valid
                                             && regForm.get('month').valid
                                             && regForm.get('year').valid,
                        'regUserValidationValidAndFocused':  (regForm.get('day').valid
                                                         && regForm.get('month').valid
                                                         && regForm.get('year').valid)
                              &&  (regForm.get('day') === regForm.get(inputName)
                              ||   regForm.get('month') === regForm.get(inputName)
                              ||   regForm.get('year') === regForm.get(inputName)) }">
        <label><b>Дата рождения</b> </label>
        <select id="day" formControlName="day" aria-label="birthDate">
          <option hidden [value]="null">День</option>
          <option *ngFor="let day of days" [value]="day">
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate">
          <option hidden [value]="null">Месяц</option>
          <option *ngFor="let month of months" [value]="month">
            {{month}}
          </option>
        </select>
        <select id="year" formControlName="year" aria-label="birthDate">
          <option hidden [value]="null">Год</option>
          <option *ngFor="let year of years" [value]="year">
            {{year}}
          </option>
        </select>
        <div class="regUserBirthDateErrorMassage">
          <div [ngClass]="{'regUserHideErrors': (regForm.get('day').valid
                                              && regForm.get('month').valid
                                              && regForm.get('year').valid)
                                              || !submitted,
                           'regUserShowErrors':  (regForm.get('day').invalid
                                              || regForm.get('month').invalid
                                              || regForm.get('year').invalid)
                                              && submitted}">
            <div *ngIf="(regForm.get('day').invalid
                   || regForm.get('month').invalid
                   || regForm.get('year').invalid)
                   && submitted">
              <div *ngIf="regForm.get('day').hasError('required')
                     || regForm.get('month').hasError('required')
                     || regForm.get('year').hasError('required')">
                <p>Дата не указана!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserGender"
           [ngClass]=" {'regUserValidationDefault': !submitted,
                        'regUserValidationInvalid': regForm.get('gender').invalid
                                                  && submitted,
                        'regUserValidationValid': regForm.get('gender').valid,
                        'regUserValidationValidAndFocused':  regForm.get('gender').valid
                                 &&  regForm.get('gender').value === inputName }">
        <span><b>Пол</b></span>
        <input type="radio" id="male" value="male" formControlName="gender" >
        <label  for="male">Мужской</label>
        <input type="radio" id="female" value="female" formControlName="gender" >
        <label  for="female">Женский</label>
        <div class="regUserGenderErrorMassage">
          <div [ngClass]="{'regUserHideErrors': regForm.get('gender').valid || !submitted,
                           'regUserShowErrors': regForm.get('gender').invalid && submitted}">
            <div *ngIf="((regForm.get('gender').invalid && submitted))" >
              <div *ngIf="regForm.get('gender').hasError('required')">
                <p>Укажите пол!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Сохранить</button>
    </div>
  </form>
</div>
