<div>
  <form [formGroup]="regForm" novalidate (ngSubmit)="register()" >
    <h2>Регистрация</h2>
    <div class="registration" >
      <div class="regUserUsername"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('username').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('username').valid,
                       'regUserValidationValidAndFocused': regForm.get('username').valid
                        &&  regForm.get('username') === regForm.get(inputName) }">
        <label for="username"><b>Логин</b></label>
        <input type="text" id="username" placeholder="Введите логин"
               formControlName="username" >
        <div class="regUserUsernameErrorMassage">
          <div *ngIf="this.regForm.get('username').invalid
                && (this.regForm.get('username').dirty
                || this.regForm.get('username').touched)" >
            <div *ngIf="this.regForm.get('username').errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="this.regForm.get('username').errors.pattern">
              <p>Логин должен содержать только кириллические, или латинские буквы, либо цифры!</p>
            </div>
            <div *ngIf="this.regForm.get('username').errors.thisUsernameIsTaken">
              <p>{{errorMessage}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserPassword"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('password').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('password').valid,
                       'regUserValidationValidAndFocused': regForm.get('password').valid
                        &&  regForm.get('password') === regForm.get(inputName) }">
        <label for="password"><b>Пароль</b></label>
        <input type="text" id="password" placeholder="Введите пароль"
                formControlName="password" >
        <div class="regUserPasswordErrorMassage">
          <div *ngIf="regForm.get('password').invalid
              && (regForm.get('password').dirty
              || regForm.get('password').touched)" >
            <div *ngIf="regForm.get('password').errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.get('password').errors.minlength">
              <p>Пароль должен содержать минимум 6 символов!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserConfirmPassword"
           [ngClass]="{'regUserValidationDefault': !submitted,
                       'regUserValidationInvalid': regForm.get('confirmPassword').invalid
                                               && submitted,
                       'regUserValidationValid': regForm.get('confirmPassword').valid,
                       'regUserValidationValidAndFocused': regForm.get('confirmPassword').valid
                        &&  regForm.get('confirmPassword') === regForm.get(inputName) }">
        <label for="confirmPassword"><b>Подтверждение пароля</b></label>
        <input type="text" id="confirmPassword" placeholder="Повторите пароль"
               formControlName="confirmPassword" >
        <div class="regUserConfirmPasswordErrorMassage">
          <div *ngIf="regForm.get('confirmPassword').invalid && submitted" >
            <div *ngIf="regForm.get('confirmPassword').errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="regForm.get('confirmPassword').errors.notEqual">
              <p>Пароли не совпадают!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserBirthDate"
           [ngClass]=" {'regUserValidationDefault': !submitted,
                        'regUserValidationInvalid': (regForm.get('day').invalid
                                               || regForm.get('month').invalid
                                               || regForm.get('year').invalid )
                                               && submitted,
                        'regUserValidationValid': regForm.get('day').valid
                                             && regForm.get('month').valid
                                             && regForm.get('year').valid,
                        'regUserValidationValidAndFocused':  (regForm.get('day').valid
                                                         && regForm.get('month').valid
                                                         && regForm.get('year').valid)
                              &&  (regForm.get('day') === regForm.get(inputName)
                              ||   regForm.get('month') === regForm.get(inputName)
                              ||   regForm.get('year') === regForm.get(inputName)) }">
        <label><b>Дата рождения</b> </label>
        <select id="day" formControlName="day" aria-label="birthDate">
          <option hidden [value]="null">День</option>
          <option *ngFor="let day of days" [value]="day">
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate">
          <option hidden [value]="null">Месяц</option>
          <option *ngFor="let month of months" [value]="month">
            {{month}}
          </option>
        </select>
        <select id="year" formControlName="year" aria-label="birthDate">
          <option hidden [value]="null">Год</option>
          <option *ngFor="let year of years" [value]="year">
            {{year}}
          </option>
        </select>
        <div class="regUserBirthDateErrorMassage">
          <div *ngIf="(regForm.get('day').invalid
                 || regForm.get('month').invalid
                 || regForm.get('year').invalid
                 )
                 && submitted">
            <div *ngIf="regForm.get('day').errors.required
                   || regForm.get('month').errors.required
                   || regForm.get('year').errors.required">
              <p>Дата не указана!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="regUserGender"
           [ngClass]=" {'regUserValidationDefault': !submitted,
                        'regUserValidationInvalid': regForm.get('gender').invalid
                                                  && submitted,
                        'regUserValidationValid': regForm.get('gender').valid,
                        'regUserValidationValidAndFocused':  regForm.get('gender').valid
                                 &&  regForm.get('gender').value === inputName }">
        <span><b>Пол</b></span>
        <input type="radio" id="male" value="male" formControlName="gender" >
        <label  for="male">Мужской</label>
        <input type="radio" id="female" value="female" formControlName="gender" >
        <label  for="female">Женский</label>
        <div class="regUserGenderErrorMassage">
          <div *ngIf="((regForm.get('gender').invalid && submitted))" >
            <div *ngIf="regForm.get('gender').errors.required">
              <p>Укажите пол!</p>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Обновить</button>
    </div>
  </form>
</div>
<div>
  {{regForm.get('gender').value}}
</div>
<div>
  {{regForm.get('gender').value}}
</div>
<div >
  {{user| json}}

</div>

