h2{
  margin: 20px 0 20px 0;
}

.crSubDept{
  margin: 0;
  height: 107px;
  width:781px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.crSubDept b{
  position: relative;
  top: 6px;
  left: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.crSubDept p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.crSDValidationDefault input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.crSDValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition-duration: 0.5s;
}

.crSDValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition-duration: 0.5s;
}

.crSDValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition-duration: 0.5s;
}

.crSDValidationDefault select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.crSDValidationInvalid select {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
}

.crSDValidationValid select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.crSDValidationValidAndFocused select{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
}

.crSDName{
  display: inline-block;
  float: left;
  margin: 3px 0 0 3px;
  height: 52px;
  width: 777px;
}

.crSDName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 94px;
  height: 30px;
  font-size: 12pt;
  z-index: 2;
}

.crSDName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
  background-color: rgb(255, 255, 255);
}

.crSDNameErrorMassage{
  padding: 0;
  height: 20px;
  width: 668px;
  float: left;
  margin: 0 0 0 107px;
}

.crSDMainDept {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 776px;
}

.crSDMainDept label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 114px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.crSDMainDept select {
  padding: 0 0 0 7px;
  width: 659px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  border: 1px inherit;
}

.crSDMainDeptErrorMassage{
  width: 530px;
  height: 20px;
  margin: 0 0 0  128px;
}

.crSubDept button{
  margin: 2px 0 0 632px;
  height: 50px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  box-shadow: inset 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(60, 60, 60);
}

.crSubDept button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
