<div>
  <form [formGroup]="sDeptCrForm" novalidate (ngSubmit)="addSubDepartment()" >
    <h2>Добавление подотдела</h2>
    <div class="crSubDept">
      <div class="crSDName"
           [ngClass]="{'crSDValidationDefault': !submitted,
                       'crSDValidationInvalid': sDeptCrForm.get('name').invalid && submitted,
                       'crSDValidationValid': sDeptCrForm.get('name').valid,
                       'crSDValidationValidAndFocused': sDeptCrForm.get('name').valid
                        &&  sDeptCrForm.get('name') === sDeptCrForm.get(inputName) }" >
        <label for="name"><b>Название</b></label>
        <input type="text" id="name" placeholder="Введите название" formControlName="name" >
        <div class="crSDNameErrorMassage">
          <div [ngClass]="{'crSDHideErrors': sDeptCrForm.get('name').valid || !submitted,
                           'crSDShowErrors': sDeptCrForm.get('name').invalid && submitted}">
            <div *ngIf="sDeptCrForm.get('name').invalid && submitted">
              <div *ngIf="sDeptCrForm.get('name').hasError('required')">
                <p>Поле необходимо заполнить!</p>
              </div>
              <div *ngIf="sDeptCrForm.get('name').hasError('minlength')
                          && !sDeptCrForm.get('name').hasError('pattern')">
                <p>Название слишком короткое!</p>
              </div>
              <div *ngIf="sDeptCrForm.get('name').hasError('pattern')">
                <p>Название должно содержать только кириллические, или латинские буквы и пробелы!</p>
              </div>
              <div *ngIf="sDeptCrForm.get('name').hasError('subDepartmentAlreadyExist')">
                {{errorMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crSDMainDept"
           [ngClass]=" {'crSDValidationDefault': !submitted,
                        'crSDValidationInvalid': (sDeptCrForm.get('mainDepartment').invalid
                                              &&  submitted),
                        'crSDValidationValid': sDeptCrForm.get('mainDepartment').valid,
                        'crSDValidationValidAndFocused': sDeptCrForm.get('mainDepartment').valid
                        &&  sDeptCrForm.get('mainDepartment') === sDeptCrForm.get(inputName) }" >
        <label for="mainDepartment"><b>Департамент</b></label>
        <select id="mainDepartment" formControlName="mainDepartment" >
          <option hidden [value]="null">Выберите Департамент</option>
          <option *ngFor="let mainDepartment of mainDepartments" [value]="mainDepartment.name" >
            {{mainDepartment.name}}
          </option>
        </select>
        <div class="crSDMainDeptErrorMassage">
          <div [ngClass]="{'crSDHideErrors': sDeptCrForm.get('mainDepartment').valid || !submitted,
                          'crSDShowErrors': sDeptCrForm.get('mainDepartment').invalid && submitted}">
            <div *ngIf="sDeptCrForm.get('mainDepartment').invalid && submitted">
              <div *ngIf="sDeptCrForm.get('mainDepartment').hasError('required') ">
                <p>Департамент не выбран!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Добавить</button>
    </div>
  </form>
</div>
