<div class="navigation">
  <h1>Департаменты</h1>
    <nav>
      <div class="navigationLinks">
        <a routerLink="/main_departments" routerLinkActive="active">
          <span>Департаменты</span>
        </a>
        <a routerLink="/sub-departments" routerLinkActive="active">
          <span>Подотделы</span>
        </a>
        <a routerLink="/main_dept_employees" routerLinkActive="active">
          <span>Сотрудники департаментов</span>
        </a>
        <a routerLink="/sub-dept_employees" routerLinkActive="active">

          <span>Сотрудники подотделов</span>
        </a>
      </div>
    </nav>
  <div>
    <button type="submit" (click)="logout()" >logout</button>
  </div>
</div>
<router-outlet></router-outlet>
