<div class="navigation">
  <h1>Департаменты</h1>
  <tr >
    <nav>
      <a routerLink="/main_departments">
        <td>Департаменты</td>
      </a>
      <a routerLink="/sub-departments"><td>Подотделы</td></a>
      <a routerLink="/main_dept_employees"><td>Сотрудники департаментов</td></a>
      <a routerLink="/sub-dept_employees"><td>Сотрудники подотделов</td></a>
    </nav>
  </tr>
</div>
  <div>
    <button type="submit" (click)="logout()" >logout</button>
  </div>

<router-outlet></router-outlet>
