<div>
  <h2>Подотделы</h2>
  <div class="subDeptList">

    <tr>
      <td class="sdLIdHead"><b>ID</b></td>
      <td class="sdLNameHead"><b>Название</b></td> </tr>
    <ul *ngFor="let subDepartment of subDepartments" class="sdList">

      <li class="sdLNav">
        <a routerLink="/sub-department-detail/{{subDepartment.name}}">
          <div  class="sdLId">{{subDepartment.id}}</div>
          {{subDepartment.name}}
        </a>
      </li>

      <button class="deleteSD"
              (click)="deleteSubDepartment(subDepartment.name)">x</button>
    </ul>
  </div>
  <button class="addSD" (click)="goToAddSubDepartment()">Добавить департамент</button>
</div>
