<div class="subDepts">
  <h2>Подотделы</h2>
  <div class="subDeptList">
    <div class="sdHead">
      <span ><b>ID</b></span>
      <span ><b>Название</b></span>
    </div>
    <div *ngFor="let subDepartment of subDepartments" class="sdList">
        <a routerLink="/sub-department-detail/{{subDepartment.name}}">
          <div class="subDeptNav"
               [ngClass]="{'subDeptForAdmin': isAdmin,
                           'subDeptForUser': !isAdmin}" >
            <span>{{subDepartment.id}}</span>
            <span>{{subDepartment.name}}</span>
          </div>
        </a>
      <button class="deleteSD" *ngIf="isAdmin"
              (click)="deleteSubDepartment(subDepartment.name)">x</button>
    </div>
  </div>
  <button class="addSD"  *ngIf="isAdmin"
          (click)="goToAddSubDepartment()">Добавить подотдел</button>
</div>
