h2{
  margin: 20px 0 20px 0;
}

.updSubDeptEmpl{
  margin: 0;
  height: 264px;
  width:781px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.updSubDeptEmpl b{
  position: relative;
  top: 6px;
  left: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.updSubDeptEmpl p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.updSDEValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEValidationInvalid select {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEValidationValid select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEValidationValidAndFocused select{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updSDEHideErrors {
  top: -15px;
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.updSDEShowErrors {
  transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  top: 0;
  position: relative;
  opacity: 1;
  height: 19px;
  overflow: hidden;
}

.updSDELastName{
  display: inline-block;
  float: left;
  margin: 3px 0 0 3px;
  height: 52px;
  width: 777px;
}

.updSDELastName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 94px;
  height: 30px;
  font-size: 12pt;
  z-index: 2;
}

.updSDELastName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
  background-color: rgb(255, 255, 255);
}

.updSDELastNameErrorMassage{
  padding: 0;
  height: 20px;
  width: 530px;
  float: left;
  margin: 0 0 0 107px;
}

.updSDEFirstName{
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.updSDEFirstName label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updSDEFirstName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.updSDEFirstNameErrorMassage{
  width: 530px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.updSDEMiddleName {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.updSDEMiddleName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updSDEMiddleName input{
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.updSDEMiddleNameErrorMassage{
  width: 530px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.updSDESubDept {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 776px;
}

.updSDESubDept label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updSDESubDept select {
  padding: 0 0 0 7px;
  width: 679px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updSDESubDeptErrorMassage{
  width: 530px;
  height: 20px;
  margin: 0 0 0  108px;
}

.updSDEBirthDate {
  display: inline-block;
  margin: 0 0 0 3px;
  width: 341px;
  height: 52px;
  float: left;
}

.updSDEBirthDate label{
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 130px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 4;
  position: relative;
}

.updSDEBirthDate select:nth-child(2),
.updSDEBirthDate select:nth-child(4){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updSDEBirthDate select:nth-child(3){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 88px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updSDEBirthDateErrorMassage{
  margin: 0 0 0 136px;
  width: 150px;
  height: 20px;
  float: bottom;
}

.updSDEPassport{
  display: inline-block;
  margin: 0 0 0 6px;
  height: 52px;
  width: 428px;
  float: left;
}

.updSDEPassport label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 168px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updSDEPassport span{
  float: left;
  height: 24px;
  width: 57px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 6px 0 0 6px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
}

.updSDEPassport input:nth-child(3),
.updSDEPassport input:nth-child(4){
  outline: none;
  height: 30px;
  width: 25px;
  margin: 0;
  padding: 0 0 0 6px;
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updSDEPassport input:nth-child(6){
  float: left;
  outline: none;
  height: 30px;
  width: 59px;
  padding: 0 0 0 6px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updSDEPassportErrorMassage{
  float: left;
  width: 220px;
  height: 36px;
  margin-left: 176px;
}

.updSubDeptEmpl button{
  margin: 2px 0 0 632px;
  height: 50px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  box-shadow: inset 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  cursor: pointer;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.updSubDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.updSubDeptEmplError{
  height: 50px;
  width: max-content;
  border: solid 1px rgb(240, 150, 150);
  box-shadow: 0 0 5px rgb(240, 150, 150);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.updSubDeptEmplError h2{
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
  color: rgb(240, 150, 150);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
