h2{
  margin: 20px 0 20px 0;
}

.updMainDeptEmpl{
  margin: 0;
  height: 264px;
  width:781px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}

.updMainDeptEmpl b{
  position: relative;
  top: 6px;
  left: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.updMainDeptEmpl p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.updMDEValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEValidationInvalid select {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEValidationValid select{
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEValidationValidAndFocused select{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: solid 1px rgb(255, 255, 255);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.updMDEHideErrors {
  top: -15px;
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.updMDEShowErrors {
  transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  top: 0;
  position: relative;
  opacity: 1;
  height: 19px;
  overflow: hidden;
}

.updMDELastName{
  display: inline-block;
  float: left;
  margin: 3px 0 0 3px;
  height: 52px;
  width: 777px;
}

.updMDELastName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 94px;
  height: 30px;
  font-size: 12pt;
  z-index: 2;
}

.updMDELastName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
  background-color: rgb(255, 255, 255);
}

.updMDELastNameErrorMassage{
  padding: 0;
  height: 20px;
  width: 530px;
  float: left;
  margin: 0 0 0 107px;
}

.updMDEFirstName{
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.updMDEFirstName label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updMDEFirstName input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.updMDEFirstNameErrorMassage{
  transition-duration: 1s;
  width: 530px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.updMDEMiddleName {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 777px;
}

.updMDEMiddleName label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 94px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updMDEMiddleName input{
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 668px;
}

.updMDEMiddleNameErrorMassage{
  width: 530px;
  height: 20px;
  float: left;
  margin: 0 0 0 107px;
}

.updMDEMainDept {
  display: inline-block;
  margin: 0 0 0 3px;
  height: 52px;
  float: left;
  width: 776px;
}

.updMDEMainDept label{
  position: relative;
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 114px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updMDEMainDept select {
  padding: 0 0 0 7px;
  width: 659px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updMDEMainDeptErrorMassage{
  width: 530px;
  height: 20px;
  margin: 0 0 0  128px;
}

.updMDEBirthDate {
  display: inline-block;
  margin: 0 0 0 3px;
  width: 341px;
  height: 52px;
  float: left;
}

.updMDEBirthDate label{
  float: left;
  border: solid 1px rgb(180, 180, 180);
  width: 130px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 4;
  position: relative;
}

.updMDEBirthDate select:nth-child(2),
.updMDEBirthDate select:nth-child(4){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updMDEBirthDate select:nth-child(3){
  outline: none;
  height: 32px;
  cursor: pointer;
  z-index: 3;
  width: 88px;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updMDEBirthDateErrorMassage{
  margin: 0 0 0 136px;
  width: 150px;
  height: 20px;
  float: bottom;
}

.updMDEPassport{
  display: inline-block;
  margin: 0 0 0 6px;
  height: 52px;
  width: 428px;
  float: left;
}

.updMDEPassport label{
  float: left;
  position: relative;
  border: solid 1px rgb(180, 180, 180);
  width: 168px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  z-index: 2;
}

.updMDEPassport span{
  float: left;
  height: 24px;
  width: 57px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 6px 0 0 6px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
}

.updMDEPassport input:nth-child(3),
.updMDEPassport input:nth-child(4){
  outline: none;
  height: 30px;
  width: 25px;
  margin: 0;
  padding: 0 0 0 6px;
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updMDEPassport input:nth-child(6){
  float: left;
  outline: none;
  height: 30px;
  width: 59px;
  padding: 0 0 0 6px;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
}

.updMDEPassportErrorMassage{
  width: 220px;
  transition: height 7s ease-in;
  margin-left: 176px;
  float: left;
}

.updMainDeptEmpl button{
  margin: 2px 0 0 632px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgb(180, 180, 180);
  background-color:  rgb(204, 204, 204);
  box-shadow: inset 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.updMainDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.updMainDeptEmplError{
  height: 50px;
  width: max-content;
  border: solid 1px rgb(240, 150, 150);
  box-shadow: 0 0 5px rgb(240, 150, 150);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.updMainDeptEmplError h2{
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
  color: rgb(240, 150, 150);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
