<div *ngIf="mainDeptEmployee">
  <form [formGroup]="mEmpUpdForm" novalidate (ngSubmit)="updateMainDeptEmployee()" >
    <h2>Редактирование данных сотрудника</h2>
    <div class="updMainDeptEmpl">
      <div  class="updMDELastName"
            [ngClass]="{'updMDEValidationInvalid': mEmpUpdForm.get('lastName').invalid,
                        'updMDEValidationValid': mEmpUpdForm.get('lastName').valid,
                        'updMDEValidationValidAndFocused': mEmpUpdForm.get('lastName').valid
                         &&  mEmpUpdForm.get('lastName') === mEmpUpdForm.get(inputName) }" >
        <label for="lastName"><b>Фамилия</b></label>
        <input type="text" id="lastName" formControlName="lastName"  >

        <div class="updMDELastNameErrorMassage">
          <div *ngIf="mEmpUpdForm.get('lastName').invalid" >
            <div *ngIf="mEmpUpdForm.get('lastName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="mEmpUpdForm.get('lastName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>

      <div  class="updMDEFirstName"
            [ngClass]="{'updMDEValidationInvalid': mEmpUpdForm.get('firstName').invalid
                                              && (mEmpUpdForm.get('firstName').dirty
                                              ||  mEmpUpdForm.get('firstName').untouched
                                              ||  mEmpUpdForm.get('firstName').touched),
                        'updMDEValidationValid': mEmpUpdForm.get('firstName').valid,
                        'updMDEValidationValidAndFocused': mEmpUpdForm.get('firstName').valid
                         &&  mEmpUpdForm.get('firstName') === mEmpUpdForm.get(inputName) }" >
        <label for="firstName"><b>Имя</b></label>
        <input type="text" id="firstName" formControlName="firstName" >
        <div class="updMDEFirstNameErrorMassage">
          <div *ngIf="mEmpUpdForm.get('firstName').invalid
                    && (mEmpUpdForm.get('firstName').dirty
                    ||  mEmpUpdForm.get('firstName').untouched
                    ||  mEmpUpdForm.get('firstName').touched)" >
            <div *ngIf="mEmpUpdForm.get('firstName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="mEmpUpdForm.get('firstName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="updMDEMiddleName"
           [ngClass]="{'updMDEValidationInvalid': mEmpUpdForm.get('middleName').invalid
                                             && (mEmpUpdForm.get('middleName').dirty
                                             ||  mEmpUpdForm.get('middleName').untouched
                                             ||  mEmpUpdForm.get('middleName').touched),
                       'updMDEValidationValid': mEmpUpdForm.get('middleName').valid,
                       'updMDEValidationValidAndFocused': mEmpUpdForm.get('middleName').valid
                        &&  mEmpUpdForm.get('middleName') === mEmpUpdForm.get(inputName) }" >
        <label for="middleName"><b>Отчество</b></label>
        <input type="text" id="middleName" formControlName="middleName" >
        <div class="updMDEMiddleNameErrorMassage">
          <div *ngIf="mEmpUpdForm.get('middleName').invalid
                    && (mEmpUpdForm.get('middleName').dirty
                    ||  mEmpUpdForm.get('middleName').untouched
                    ||  mEmpUpdForm.get('middleName').touched)" >
            <div *ngIf="mEmpUpdForm.get('middleName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="mEmpUpdForm.get('middleName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы, либо дефис!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="updMDEBirthDate"
           [ngClass]=" {'updMDEValidationValid': mEmpUpdForm.get('day').valid
                                           && mEmpUpdForm.get('month').valid
                                           && mEmpUpdForm.get('year').valid,
                         'updMDEValidationValidAndFocused':  (mEmpUpdForm.get('day').valid
                                                       && mEmpUpdForm.get('month').valid
                                                       && mEmpUpdForm.get('year').valid)
                            &&  (mEmpUpdForm.get('day') === mEmpUpdForm.get(inputName)
                            ||   mEmpUpdForm.get('month') === mEmpUpdForm.get(inputName)
                            ||   mEmpUpdForm.get('year') === mEmpUpdForm.get(inputName)) }" >
        <label ><b>Дата рождения</b> </label>
        <select  id="day" formControlName="day" aria-label="birthDate">
          <option *ngFor="let day of days" [value]="day" >
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate" >
          <option *ngFor="let month of months" [value]="month" >
            {{month}}
          </option>
        </select>
        <select  id="year" formControlName="year" aria-label="birthDate">
          <option *ngFor="let year of years"  [value]="year">
            {{year}}
          </option>
        </select>
      </div>

      <div class="updMDEPassport"
           [ngClass]=" {'updMDEValidationInvalid': ((mEmpUpdForm.get('seriesF').invalid
                                                 || mEmpUpdForm.get('seriesS').invalid
                                                 || mEmpUpdForm.get('number').invalid)),
                        'updMDEValidationValid': mEmpUpdForm.get('seriesF').valid
                                             && mEmpUpdForm.get('seriesS').valid
                                             && mEmpUpdForm.get('number').valid,
                        'updMDEValidationValidAndFocused':  (mEmpUpdForm.get('seriesF').valid
                                                         && mEmpUpdForm.get('seriesS').valid
                                                         && mEmpUpdForm.get('number').valid)
                         &&  (mEmpUpdForm.get('seriesF') === mEmpUpdForm.get(inputName)
                         ||   mEmpUpdForm.get('seriesS') === mEmpUpdForm.get(inputName)
                         ||   mEmpUpdForm.get('number') === mEmpUpdForm.get(inputName)) }" >
        <label ><b>Паспортные данные</b></label>
        <span>Серия:</span>
        <input id="seriesF" type="text" maxlength="2"
               formControlName="seriesF" aria-label="passport" placeholder=". .">
        <input id="seriesS" type="text" maxlength="2"
               formControlName="seriesS" aria-label="passport" placeholder=". .">
        <span>Номер:</span>
        <input id="number" type="text"  maxlength="6"
               formControlName="number" aria-label="passport" placeholder=". . . . . .">
        <div class="updMDEPassportErrorMassage">
          <div *ngIf="((mEmpUpdForm.get('seriesF').invalid
                   || mEmpUpdForm.get('seriesS').invalid
                   || mEmpUpdForm.get('number').invalid))" >
            <div *ngIf="mEmpUpdForm.get('seriesF' || 'seriesS' || 'number').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="mEmpUpdForm.get('seriesF' || 'seriesS' || 'number').errors.pattern">
              <p>Допускаются только цифры!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="updMDEMainDept"
           [ngClass]=" {'updMDEValidationValid': mEmpUpdForm.get('mainDepartment').valid,
                        'updMDEValidationValidAndFocused': mEmpUpdForm.get('mainDepartment').valid
                      &&  mEmpUpdForm.get('mainDepartment') === mEmpUpdForm.get(inputName) }" >
        <label for="mainDepartment"><b>Департамент</b></label>
        <select id="mainDepartment" formControlName="mainDepartment" >
          <option *ngFor="let mainDepartment of mainDepartments" [value]="mainDepartment.name"  >
            {{mainDepartment.name}}
          </option>
        </select>
      </div>
      <button type="submit" >Обновить</button>
    </div>
  </form>
</div>
