<div>
  <form [formGroup]="updUserForm" novalidate (ngSubmit)="updateUser()" >
    <h2>Редактирование данных подотдела</h2>
    <div *ngIf="user">
    <div class="register" >
      <div class="regUsernameLabel">
        <label for="username"><b>Логин</b></label>
      </div>
      <div [ngClass]="{'regUsernameDefault': updUserForm.controls['username'].untouched,
                         'regUsernameInvalid': updUserForm.controls['username'].invalid
                                            && (updUserForm.controls['username'].dirty
                                            || updUserForm.controls['username'].touched),
                         'regUsernameValid': updUserForm.controls['username'].touched
                                            && updUserForm.controls['username'].valid }" >
        <input type="text" id="username" placeholder="Введите логин"
               [(ngModel)]="user.username"  formControlName="username" >
        <div class="regUsernameErrorMassage">
          <div *ngIf="updUserForm.controls['username'].invalid
                && (updUserForm.controls['username'].dirty
                || updUserForm.controls['username'].touched)" >
            <div *ngIf="updUserForm.controls['username'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="updUserForm.controls['username'].errors.pattern">
              <p>Логин должен содержать только кириллические, или латинские буквы, либо цифры!</p>
            </div>
          </div>
        </div>
      </div>


    <button type="button" (click)="initPassword()">Изменить пароль</button>
    <div *ngIf="changePassword">
      <div class="updOldPasswordLabel">
        <label for="oldPassword"><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'updOldPasswordDefault': updUserForm.controls['oldPassword'].untouched,
                       'updOldPasswordInvalid': updUserForm.controls['oldPassword'].invalid
                                           && (updUserForm.controls['oldPassword'].dirty
                                           || updUserForm.controls['oldPassword'].touched),
                       'updOldPasswordValid': updUserForm.controls['oldPassword'].touched
                                           && updUserForm.controls['oldPassword'].valid }" >
        <input type="text" id="oldPassword" placeholder="Введите имя" formControlName="oldPassword" >
        <div class="updOldPasswordErrorMassage">
          <div *ngIf="updUserForm.controls['oldPassword'].invalid
              && (updUserForm.controls['oldPassword'].dirty
              || updUserForm.controls['oldPassword'].touched)" >
            <div *ngIf="updUserForm.controls['oldPassword'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="updUserForm.controls['oldPassword'].errors.minlength">
              <p>Пароль должен содержать минимум 6 символов!</p>
            </div>
          </div>
        </div>
      </div>


      <div class="updNewPasswordLabel">
        <label for="newPassword"><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'updNewPasswordDefault': updUserForm.controls['newPassword'].untouched,
                       'updNewPasswordInvalid': updUserForm.controls['newPassword'].invalid
                                           && (updUserForm.controls['newPassword'].dirty
                                           || updUserForm.controls['newPassword'].touched),
                       'updNewPasswordValid': updUserForm.controls['newPassword'].touched
                                           && updUserForm.controls['newPassword'].valid }" >
        <input type="text" id="newPassword" placeholder="Введите имя"
                formControlName="newPassword" >
        <div class="updNewPasswordErrorMassage">
          <div *ngIf="updUserForm.controls['newPassword'].invalid
              && (updUserForm.controls['newPassword'].dirty
              || updUserForm.controls['newPassword'].touched)" >
            <div *ngIf="updUserForm.controls['newPassword'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="updUserForm.controls['newPassword'].errors.minlength">
              <p>Пароль должен содержать минимум 6 символов!</p>
            </div>
          </div>
        </div>
      </div>

       <div class="updConfirmPasswordLabel">
        <label for="confirmPassword"><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'updConfirmPasswordDefault': updUserForm.controls['confirmPassword'].untouched,
                       'updConfirmPasswordInvalid': updUserForm.controls['confirmPassword'].touched ,
                       'updConfirmPasswordValid': updUserForm.controls['confirmPassword'].touched
                                           && updUserForm.controls['confirmPassword'].valid }" >
        <input type="text" id="confirmPassword" placeholder="Введите имя"  formControlName="confirmPassword" >
        <div class="updConfirmPasswordErrorMassage">
          <div *ngIf="updUserForm.controls['confirmPassword'].invalid
              && (updUserForm.controls['confirmPassword'].dirty
              || updUserForm.controls['confirmPassword'].touched)" >
            <div *ngIf="updUserForm.controls['confirmPassword'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="updUserForm.controls['confirmPassword'].errors.notEqual">
              <p>Пароли не совпадают!</p>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="setNewPassword()">Сохранить</button>
     </div>



      <div class="regBirthDateLabel">
        <label ><b>Дата рождения</b></label>
      </div>
      <div [ngClass]=" {'regBirthDateDefault': updUserForm.controls['day' && 'month' && 'year'].untouched,
                        'regBirthDateInvalid': ((updUserForm.controls['day' && 'month' && 'year'].invalid
                                              && updUserForm.controls['day' && 'month' && 'year'].touched)
                                              ||(updUserForm.controls['day' && 'month' && 'year'].invalid
                                              && !updUserForm.controls['day' && 'month' && 'year'].touched
                                              && submitted)),
                        'regBirthDateValid': updUserForm.controls['day' && 'month' && 'year'].valid }" >
        <select formControlName="day" >
          <option *ngFor="let day of days" [value]="day">
            {{day}}
          </option>
        </select>

        <select formControlName="month" >
          <option *ngFor="let month of months" [value]="month.name">
            {{month.name}}
          </option>
        </select>
        <select  formControlName="year" >
          <option *ngFor="let year of years" [value]="year">
            {{year}}
          </option>
        </select>
      </div>
      <div class="regDateErrorMassage">
        <div *ngIf="((updUserForm.controls['day' && 'month' && 'year'].invalid
                      && updUserForm.controls['day' && 'month' && 'year'].touched)
                      ||(updUserForm.controls['day' && 'month' && 'year'].invalid
                      && !updUserForm.controls['day' && 'month' && 'year'].touched
                      && submitted))" >
          <div *ngIf="updUserForm.controls['day' && 'month' && 'year'].errors.required">
            <p>Укажите дату!</p>
          </div>
        </div>
      </div>

      <div class="regGenderLabel">
        <label ><b>Пол</b></label>
      </div>
      <div [ngClass]=" {'regGenderGroup': updUserForm.controls['gender'].untouched,
                        'regGenderGroupInvalid': ((updUserForm.controls['gender'].invalid
                                              && updUserForm.controls['gender'].touched)
                                              ||(updUserForm.controls['gender'].invalid
                                              && !updUserForm.controls['gender'].touched
                                              && submitted))
                                                              }" >
        <input type="radio" id="male" value="male" formControlName="gender" [(ngModel)]="user.gender" >
        <label  for="male">Мужской</label>
        <input type="radio" id="female" value="female" formControlName="gender" [(ngModel)]="user.gender" >
        <label  for="female">Женский</label>
      </div>
      <div class="regGenderErrorMassage">
        <div *ngIf="((updUserForm.controls['gender'].invalid && submitted))" >
          <div *ngIf="updUserForm.controls['gender'].errors.required">
            <p>Укажите пол!</p>
          </div>
        </div>
      </div>
      <button type="submit">Обновить</button>
    </div>
    </div>
  </form>
</div>
<div>
  {{user| json}}
</div>
