<div *ngIf="user">
  <form [formGroup]="updUserForm" novalidate (ngSubmit)="updateUser()" >
    <h2>Редактирование данных пользователя</h2>
    <div class="updUser" >
      <div class="updUserUsername"
           [ngClass]="{'updUserValidationInvalid': updUserForm.get('username').invalid
                                               && submitted,
                       'updUserValidationValid': updUserForm.get('username').valid,
                       'updUserValidationValidAndFocused': updUserForm.get('username').valid
                        &&  updUserForm.get('username') === updUserForm.get(inputName) }">
        <label for="username"><b>Логин</b></label>
        <input type="text" id="username" placeholder="Введите логин"
               formControlName="username" >
        <div class="updUserUsernameErrorMassage">
          <div *ngIf="this.updUserForm.get('username').invalid
                && (this.updUserForm.get('username').dirty
                || this.updUserForm.get('username').touched)" >
            <div *ngIf="this.updUserForm.get('username').errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
            <div *ngIf="this.updUserForm.get('username').errors.pattern">
              <p>Логин должен содержать только кириллические, или латинские буквы, либо цифры!</p>
            </div>
            <div *ngIf="this.updUserForm.get('username').errors.thisUsernameIsTaken">
              <p>{{errorMessage}}</p>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="passwordButton" (click)="changePassword = true">Изменить пароль</button>
      <div [ngClass]="{'changePasswordShow': changePassword,
                       'changePasswordHide': !changePassword }">
        <div class="updUserPassword"
              [ngClass]="{'updUserValidationDefault': updUserForm.get('oldPassword').untouched,
                          'updUserValidationInvalid': updUserForm.get('oldPassword').invalid
                                                    && (updUserForm.get('oldPassword').touched
                                                    || updUserForm.get('oldPassword').dirty),
                          'updUserValidationValid': updUserForm.get('oldPassword').valid,
                          'updUserValidationValidAndFocused': updUserForm.get('oldPassword').valid
                           &&  updUserForm.get('oldPassword') === updUserForm.get(inputName) }">
          <label for="password"><b>Старый пароль</b></label>
          <input type="text" id="password" placeholder="Введите старый пароль" formControlName="oldPassword" >
          <div class="updUserPasswordErrorMassage">
            <div *ngIf="updUserForm.get('oldPassword').invalid
                && (updUserForm.get('oldPassword').dirty
                || updUserForm.get('oldPassword').touched)" >
              <div *ngIf="updUserForm.get('oldPassword').errors.notFound">
                <p>{{errorMessage}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="updUserNewPassword"
             [ngClass]="{'updUserValidationDefault': updUserForm.get('newPassword').untouched,
                         'updUserValidationInvalid': updUserForm.get('newPassword').invalid
                                                   && (updUserForm.get('newPassword').touched
                                                   || updUserForm.get('newPassword').dirty),
                         'updUserValidationValid': updUserForm.get('newPassword').valid,
                         'updUserValidationValidAndFocused': updUserForm.get('newPassword').valid
                          &&  updUserForm.get('newPassword') === updUserForm.get(inputName) }">
          <label for="newPassword"><b>Новый пароль</b></label>
          <input type="text" id="newPassword" placeholder="Введите новый пароль"
                  formControlName="newPassword" >
          <div class="updUserNewPasswordErrorMassage">
            <div *ngIf="updUserForm.get('newPassword').invalid
                && (updUserForm.get('newPassword').dirty
                || updUserForm.get('newPassword').touched)" >
              <div *ngIf="updUserForm.get('newPassword').errors.required">
                <p>Поле не должно быть пустым!</p>
              </div>
              <div *ngIf="updUserForm.get('newPassword').errors.minlength">
                <p>Пароль должен содержать минимум 6 символов!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="updUserNewConfirmPassword"
             [ngClass]="{'updUserValidationDefault': updUserForm.get('confirmPassword').untouched,
                         'updUserValidationInvalid': updUserForm.get('confirmPassword').invalid
                                                   && (updUserForm.get('confirmPassword').touched
                                                   || updUserForm.get('confirmPassword').dirty),
                         'updUserValidationValid': updUserForm.get('confirmPassword').valid,
                         'updUserValidationValidAndFocused': updUserForm.get('confirmPassword').valid
                          &&  updUserForm.get('confirmPassword') === updUserForm.get(inputName) }">
          <label for="confirmPassword"><b>Подтверждение пароля</b></label>
          <input type="text" id="confirmPassword" placeholder="Повторите новый пароль"  formControlName="confirmPassword" >
          <div class="updUserNewConfirmPasswordErrorMassage">
            <div *ngIf="updUserForm.get('confirmPassword').invalid
                && (updUserForm.get('confirmPassword').dirty
                || updUserForm.get('confirmPassword').touched)" >
              <div *ngIf="updUserForm.get('confirmPassword').errors.required">
                <p>Поле не должно быть пустым!</p>
              </div>
              <div *ngIf="updUserForm.get('confirmPassword').errors.notEqual">
                <p>Пароли не совпадают!</p>
              </div>
            </div>
          </div>
        </div>
        <button type="button" (click)="setNewPassword()">Сохранить</button>
       </div>

      <div class="updUserBirthDate"
           [ngClass]=" {'updUserValidationValid': updUserForm.get('day').valid
                                           && updUserForm.get('month').valid
                                           && updUserForm.get('year').valid,
                        'updUserValidationValidAndFocused':  (updUserForm.get('day').valid
                                                       && updUserForm.get('month').valid
                                                       && updUserForm.get('year').valid)
                            &&  (updUserForm.get('day') === updUserForm.get(inputName)
                            ||   updUserForm.get('month') === updUserForm.get(inputName)
                            ||   updUserForm.get('year') === updUserForm.get(inputName)) }" >
        <label ><b>Дата рождения</b> </label>
        <select  id="day" formControlName="day" aria-label="birthDate">
          <option *ngFor="let day of days" [value]="day" >
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate" >
          <option *ngFor="let month of months" [value]="month" >
            {{month}}
          </option>
        </select>
        <select  id="year" formControlName="year" aria-label="birthDate">
          <option *ngFor="let year of years"  [value]="year">
            {{year}}
          </option>
        </select>
      </div>

      <div class="updUserGender"
           [ngClass]=" {'updUserValidationValid': updUserForm.get('gender').valid,
                        'updUserValidationValidAndFocused':  updUserForm.get('gender').valid
                         &&  updUserForm.get('gender').value === inputName }">
        <span><b>Пол</b></span>
        <input type="radio" id="male" value="male" formControlName="gender" >
        <label  for="male">Мужской</label>
        <input type="radio" id="female" value="female" formControlName="gender" >
        <label  for="female">Женский</label>
      </div>
      <button type="submit">Обновить</button>
    </div>
  </form>
</div>
<div>
  {{inputName}}
</div>
