<div>
  <form [formGroup]="mDeptUpdForm" novalidate (ngSubmit)="updateMainDepartment()" >
    <h2>Редактирование данныех главного департамента</h2>
    <div *ngIf="mainDepartment" >
      <div class="updMainDept">
        <div class="updMDName"
             [ngClass]="{'updMDValidationDefault': nameControl.untouched,
                         'updMDValidationInvalid': nameControl.invalid,
                          'updMDValidationValid': nameControl.valid,
                          'updMDValidationValidAndFocused': nameControl.valid
                           &&  nameControl === mDeptUpdForm.get(inputName) }" >
          <label for="name"><b>Название</b></label>
          <input type="text" id="name" formControlName="name" >
          <div class="updNameErrorMassage">
            <div *ngIf="nameControl.invalid" >
              <div *ngIf="nameControl.errors.required">
                <p>Поле обязательно для заполнения!</p>
              </div>
              <div *ngIf="nameControl.errors.minlength">
                <p>Название слишком короткое!</p>
              </div>
              <div *ngIf="nameControl.errors.pattern">
                <p>Название должно содержать только кириллические, или латинские буквы и пробелы!</p>
              </div>
            </div>
          </div>
        </div>
        <button type="submit">Обновить</button>
       </div>
    </div>
  </form>
</div>
