.crSubDeptEmpl{
  margin-top: 30px;
  height: 426px;
  width:980px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  box-shadow: inset 3px 0 5px rgba(0,0,0,0.22);
}

.crSDELastNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: 2px;
  z-index: 2;
}

.crSDELastNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -37px;
}

.crSDELastNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -37px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDELastNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -37px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDELastNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -36px;
  position: relative;
}

.crSDELastNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEFirstNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -37px;
  z-index: 2;
}

.crSDEFirstNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -76px;
}

.crSDEFirstNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -76px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDEFirstNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -76px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDEFirstNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -75px;
  position: relative;
}

.crSDEFirstNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEMiddleNameLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 83px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -78px;
  z-index: 2;
}

.crSDEMiddleNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 97px;
  top: -117px;
}

.crSDEMiddleNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -117px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDEMiddleNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 97px;
  top: -117px;
  outline: none;
  height: 35px;
  width: 869px;
}

.crSDEMiddleNameErrorMassage{
  width: 789px;
  height: 53px;
  left: 97px;
  top: -117px;
  position: relative;
}

.crSDEMiddleNameErrorMassage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEBirthDateLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 123px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -150px;
  z-index: 2;
}

.crSDEBirthDateDefault select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  cursor: pointer;
}

.crSDEBirthDateInvalid select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  cursor: pointer;
}

.crSDEBirthDateValid select{
  height: 39px;
  position: relative;
  left: 137px;
  top: -189px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  cursor: pointer;
}

.crSDEBirthDateErrorMassage{
  width: 789px;
  height: 20px;
  left: 137px;
  top: -189px;
  position: relative;
  z-index: -1;
}

.crSDEBirthDateErrorMassage p{
  padding-left: 5px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEPassportLabel {
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 162px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 471px;
  top: -231px;
  z-index: 2;
}

.crSDEPassportDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  outline: none;
  height: 35px;
  width: 322px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 644px;
  top: -270px;
}

.crSDEPassportInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 644px;
  top: -270px;
  outline: none;
  height: 35px;
  width: 322px;
}

.crSDEPassportValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding-left: 10px;
  position: relative;
  left: 644px;
  top: -270px;
  outline: none;
  height: 35px;
  width: 322px;
}

.crSDESubDeptLabel{
  border: solid 1px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-top: 8px;
  padding-left: 10px;
  width: 175px;
  height: 29px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  left: 2px;
  top: -256px;
  z-index: 2;
}

.crSDESubDeptDefault select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.crSDESubDeptInvalid select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.crSDESubDeptValid select {
  width: 789px;
  height: 39px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  position: relative;
  left: 189px;
  top: -295px;
  outline: none;
  cursor: pointer;
}

.passport_error_massage{
  width: 322px;
  height: 36px;
  left: 644px;
  top: -270px;
  position: relative;
}

.passport_error_massage p{
  padding-left: 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.sub-dept_error_massage{
  width: 789px;
  height: 20px;
  left: 189px;
  top: -294px;
  position: relative;
}

.sub-dept_error_massage p{
  padding-left: 3px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSubDeptEmpl button{
  position: relative;
  height: 50px;
  left: 831px;
  top: -292px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}

.crSubDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
}

