.crSubDeptEmpl{
  margin-top: 30px;
  height: 426px;
  width:980px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  outline: none;
  box-shadow: inset 3px 0 5px rgba(0,0,0,0.22);
}

.crSubDeptEmpl b{
  position: relative;
  top: 4px;
  left: 10px;
}

.crSDELastNameDefault, .crSDELastNameInvalid, .crSDELastNameValid{
  display: inline-block;
  height: 32px;
}
.crSDELastNameDefault label, .crSDELastNameInvalid label, .crSDELastNameValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDELastNameDefault b, .crSDELastNameInvalid b, .crSDELastNameValid b{
  position: relative;
  top: 4px;
  left: 10px;
}

.crSDELastNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 500px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.crSDELastNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 500px;
}

.crSDELastNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 500px;
}

.crSDELastNameErrorMassage{
  width: 789px;
  height: 53px;
  display: block;
}

.crSDELastNameErrorMassage p{
  padding: 0 0 0 10px;
  font-size: 11pt;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEFirstNameDefault, .crSDEFirstNameInvalid, .crSDEFirstNameValid{
  display: inline-block;
  height: 30px;
}

.crSDEFirstNameDefault label, .crSDEFirstNameInvalid label, .crSDEFirstNameValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDEFirstNameDefault b, .crSDEFirstNameInvalid b, .crSDEFirstNameValid b{
  position: relative;
  top: 4px;
  left: 10px;
}

.crSDEFirstNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.crSDEFirstNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
}

.crSDEFirstNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
}

.crSDEFirstNameErrorMassage{
  width: 789px;
  height: 53px;
  display: inline-block;
}

.crSDEFirstNameErrorMassage p{
  padding: 0 0 0 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEMiddleNameDefault, .crSDEMiddleNameInvalid, .crSDEMiddleNameValid{
  display: inline-block;
  height: 28px;
}

.crSDEMiddleNameDefault label, .crSDEMiddleNameInvalid label, .crSDEMiddleNameValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDEMiddleNameDefault b, .crSDEMiddleNameInvalid b, .crSDEMiddleNameValid b{
  position: relative;
  top: 4px;
  left: 10px;
}

.crSDEMiddleNameDefault input{
  font-size: 12pt;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}

.crSDEMiddleNameInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
}

.crSDEMiddleNameValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 869px;
}

.crSDEMiddleNameErrorMassage{
  width: 789px;
  height: 53px;
  display: inline-block;
}

.crSDEMiddleNameErrorMassage p{
  padding: 0 0 0 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEBirthDateDefault label, .crSDEBirthDateInvalid label, .crSDEBirthDateValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 123px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDEBirthDateDefault select{
  height: 32px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  cursor: pointer;
}

.crSDEBirthDateInvalid select{
  height: 32px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  cursor: pointer;
}

.crSDEBirthDateValid select{
  height: 32px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  cursor: pointer;
}

.crSDEBirthDateErrorMassage{
  width: 789px;
  height: 20px;
  z-index: -1;
}

.crSDEBirthDateErrorMassage p{
  padding-left: 5px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDEPassportDefault label, .crSDEPassportInvalid  label, .crSDEPassportValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 162px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDEPassportDefault .series, .number{
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);
}

.crSDEPassportDefault .series{
  font-size: 12pt;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid 1px rgba(0, 0, 0, 0.4);

  display: inline-block;
  height: 30px;
}

.crSDEPassportDefault .series span{
  float: left;
  padding-top: 6px;
  padding-left: 6px;
}

.crSDEPassportDefault .series input{
  display: inline-block;
  border: 0;
  outline: none;
  height: 26px;
  width: 20px;
  margin-left: 6px;
}

.crSDEPassportDefault .number{
  font-size: 12pt;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 30px;
}


.crSDEPassportDefault .number span{
  float: left;
  padding-top: 6px;
  padding-left: 6px;
}

.crSDEPassportDefault .number input{
  display: inline-block;
  border: 0;
  outline: none;
  height: 26px;
  width: 70px;
  margin-left: 6px;
}



.crSDEPassportInvalid .series{
  font-size: 12pt;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid 1px rgba(0, 0, 0, 0.4);

  display: inline-block;
  height: 30px;
}

.crSDEPassportDefault .series span{
  float: left;
  padding-top: 6px;
  padding-left: 6px;
}

.crSDEPassportDefault .series input{
  display: inline-block;
  border: 0;
  outline: none;
  height: 26px;
  width: 20px;
  margin-left: 6px;
}

.crSDEPassportDefault .number{
  font-size: 12pt;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 30px;
}


.crSDEPassportDefault .number span{
  float: left;
  padding-top: 6px;
  padding-left: 6px;
}

.crSDEPassportDefault .number input{
  display: inline-block;
  border: 0;
  outline: none;
  height: 26px;
  width: 70px;
  margin-left: 6px;
}




.crSDEPassportInvalid span{
  display: inline-block;
  font-size: 12pt;
  border-bottom: solid 1px rgba(205, 0, 0, 0.4);
  border-top: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 322px;
}

.crSDEPassportValid span{
  font-size: 12pt;
  border-bottom: solid 1px rgba(0, 205, 0, 0.4);
  border-top: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
  width: 322px;
}


.crSDEPassportInvalid input{
  font-size: 12pt;
  border: solid 1px rgba(205, 0, 0, 0.4);
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
}

.crSDEPassportValid input{
  font-size: 12pt;
  border: solid 1px rgba(0, 205, 0, 0.4);
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  padding: 0 0 0 10px;
  outline: none;
  height: 30px;
}


.crSDEPassportErrorMassage{
  width: 322px;
  height: 36px;
}

.crSDEPassportErrorMassage p{
  padding: 0 0 0 10px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSDESubDeptDefault label, .crSDESubDeptInvalid label, .crSDESubDeptValid label{
  float: left;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 175px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.crSDESubDeptDefault select {
  width: 789px;
  height: 30px;
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
  outline: none;
  cursor: pointer;
}

.crSDESubDeptInvalid select {
  width: 789px;
  height: 30px;
  box-shadow: 3px 0 5px rgba(205, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}

.crSDESubDeptValid select {
  width: 789px;
  height: 30px;
  box-shadow: 3px 0 5px rgba(0, 205, 0, 0.4);
  outline: none;
  cursor: pointer;
}

.crSDESubDeptErrorMassage{
  width: 789px;
  height: 20px;
}

.crSDESubDeptErrorMassage p{
  padding-left: 3px;
  font-size: 11pt;
  margin: 0;
  color: rgba(205, 0, 0, 0.4);
}

.crSubDeptEmpl button{
  height: 50px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}

.crSubDeptEmpl button:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
}
