<div>
  <form [formGroup]="sEmpCrForm" novalidate (ngSubmit)="addSubDeptEmployee()" >
    <h2>Добавление сотрудника подотдела</h2>
    <div class="crSubDeptEmpl">
      <div  class="crSDELastName"
            [ngClass]="{'crSDEValidationDefault': !submitted,
                       'crSDEValidationInvalid': sEmpCrForm.get('lastName').invalid
                                             && submitted,
                       'crSDEValidationValid': sEmpCrForm.get('lastName').valid,
                       'crSDEValidationValidAndFocused': sEmpCrForm.get('lastName').valid
                        &&  sEmpCrForm.get('lastName') === sEmpCrForm.get(inputName) }" >
        <label for="lastName"><b>Фамилия</b></label>
        <input type="text" id="lastName" placeholder="Введите фамилию"
               formControlName="lastName"  >

        <div class="crSDELastNameErrorMassage">
          <div *ngIf="sEmpCrForm.get('lastName').invalid
                  &&  submitted" >
            <div *ngIf="sEmpCrForm.get('lastName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="sEmpCrForm.get('lastName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>

      <div  class="crSDEFirstName"
            [ngClass]="{'crSDEValidationDefault': !submitted,
                        'crSDEValidationInvalid': sEmpCrForm.get('firstName').invalid
                                              && (sEmpCrForm.get('firstName').dirty
                                              ||  sEmpCrForm.get('firstName').untouched
                                              ||  sEmpCrForm.get('firstName').touched)
                                              && submitted,
                        'crSDEValidationValid': sEmpCrForm.get('firstName').valid,
                        'crSDEValidationValidAndFocused': sEmpCrForm.get('firstName').valid
                        &&  sEmpCrForm.get('firstName') === sEmpCrForm.get(inputName) }" >
        <label for="firstName"><b>Имя</b></label>
        <input type="text" id="firstName" placeholder="Введите имя"
               formControlName="firstName" >
        <div class="crSDEFirstNameErrorMassage">
          <div *ngIf="sEmpCrForm.get('firstName').invalid
                      && (sEmpCrForm.get('firstName').dirty
                      ||  sEmpCrForm.get('firstName').untouched
                      ||  sEmpCrForm.get('firstName').touched)
                      && submitted" >
            <div *ngIf="sEmpCrForm.get('firstName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="sEmpCrForm.get('firstName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="crSDEMiddleName"
           [ngClass]="{'crSDEValidationDefault': !submitted,
                       'crSDEValidationInvalid': sEmpCrForm.get('middleName').invalid
                                             && (sEmpCrForm.get('middleName').dirty
                                             ||  sEmpCrForm.get('middleName').untouched
                                             ||  sEmpCrForm.get('middleName').touched)
                                             && submitted,
                       'crSDEValidationValid': sEmpCrForm.get('middleName').valid,
                       'crSDEValidationValidAndFocused': sEmpCrForm.get('middleName').valid
                        &&  sEmpCrForm.get('middleName') === sEmpCrForm.get(inputName) }" >
        <label for="middleName"><b>Отчество</b></label>
        <input type="text" id="middleName"
               placeholder="Введите отчество (Если отсутствует введите - )"
               formControlName="middleName" >
        <div class="crSDEMiddleNameErrorMassage">
          <div *ngIf="sEmpCrForm.get('middleName').invalid
                      && (sEmpCrForm.get('middleName').dirty
                      ||  sEmpCrForm.get('middleName').untouched
                      ||  sEmpCrForm.get('middleName').touched)
                      && submitted" >
            <div *ngIf="sEmpCrForm.get('middleName').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="sEmpCrForm.get('middleName').errors.pattern">
              <p>Допускаются только кириллические, или латинские буквы, либо дефис!</p>
            </div>
         </div>
        </div>
      </div>

      <div class="crSDEBirthDate"
           [ngClass]=" {'crSDEValidationDefault': !submitted,
                        'crSDEValidationInvalid': (sEmpCrForm.get('day').invalid
                                               || sEmpCrForm.get('month').invalid
                                               || sEmpCrForm.get('year').invalid )
                                               && submitted,
                        'crSDEValidationValid': sEmpCrForm.get('day').valid
                                             && sEmpCrForm.get('month').valid
                                             && sEmpCrForm.get('year').valid,
                        'crSDEValidationValidAndFocused':  (sEmpCrForm.get('day').valid
                                                         && sEmpCrForm.get('month').valid
                                                         && sEmpCrForm.get('year').valid)
                              &&  (sEmpCrForm.get('day') === sEmpCrForm.get(inputName)
                              ||   sEmpCrForm.get('month') === sEmpCrForm.get(inputName)
                              ||   sEmpCrForm.get('year') === sEmpCrForm.get(inputName)) }" >
        <label ><b>Дата рождения</b> </label>
        <select  id="day" formControlName="day" aria-label="birthDate">
          <option hidden [value]="null">День</option>
          <option *ngFor="let day of days" [value]="day" >
            {{day}}
          </option>
        </select>
        <select id="month" formControlName="month" aria-label="birthDate" >
          <option hidden [value]="null">Месяц</option>
          <option *ngFor="let month of months" [value]="month.name" >
            {{month.name}}
          </option>
        </select>
        <select  id="year" formControlName="year" aria-label="birthDate">
          <option hidden [value]="null">Год</option>
          <option *ngFor="let year of years"  [value]="year">
            {{year}}
          </option>
        </select>
        <div class="crSDEBirthDateErrorMassage">
          <div *ngIf="(sEmpCrForm.get('day').invalid
                 || sEmpCrForm.get('month').invalid
                 || sEmpCrForm.get('year').invalid
                 )
                 && submitted" >
            <div *ngIf="sEmpCrForm.get('day').errors.required
                   || sEmpCrForm.get('month').errors.required
                   || sEmpCrForm.get('year').errors.required">
              <p>Дата не указана!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="crSDEPassport"
           [ngClass]=" {'crSDEValidationDefault': !submitted,
                        'crSDEValidationInvalid': ((sEmpCrForm.get('seriesF').invalid
                                                 || sEmpCrForm.get('seriesS').invalid
                                                 || sEmpCrForm.get('number').invalid)
                                                 && submitted),
                        'crSDEValidationValid': sEmpCrForm.get('seriesF').valid
                                             && sEmpCrForm.get('seriesS').valid
                                             && sEmpCrForm.get('number').valid,
                        'crSDEValidationValidAndFocused':  (sEmpCrForm.get('seriesF').valid
                                                         && sEmpCrForm.get('seriesS').valid
                                                         && sEmpCrForm.get('number').valid)
                         &&  (sEmpCrForm.get('seriesF') === sEmpCrForm.get(inputName)
                         ||   sEmpCrForm.get('seriesS') === sEmpCrForm.get(inputName)
                         ||   sEmpCrForm.get('number') === sEmpCrForm.get(inputName)) }" >
        <label ><b>Паспортные данные</b></label>
        <span>Серия:</span>
        <input id="seriesF" type="text" maxlength="2"
               formControlName="seriesF" aria-label="passport" placeholder=". .">
        <input id="seriesS" type="text" maxlength="2"
               formControlName="seriesS" aria-label="passport" placeholder=". .">
        <span>Номер:</span>
        <input id="number" type="text"  maxlength="6"
               formControlName="number" aria-label="passport" placeholder=". . . . . .">
        <div class="crSDEPassportErrorMassage">
          <div *ngIf="((sEmpCrForm.get('seriesF').invalid
                     || sEmpCrForm.get('seriesS').invalid
                     || sEmpCrForm.get('number').invalid)
                     && submitted)" >
            <div *ngIf="sEmpCrForm.get('seriesF' || 'seriesS' || 'number').errors.required">
              <p>Поле обязательно для заполнения!</p>
            </div>
            <div *ngIf="sEmpCrForm.get('seriesF' || 'seriesS' || 'number').errors.pattern">
              <p>Допускаются только цифры!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="crSDESubDept"
           [ngClass]=" {'crSDEValidationDefault': !submitted,
                        'crSDEValidationInvalid': (sEmpCrForm.get('subDepartment').invalid
                                              &&  submitted),
                         'crSDEValidationValid': sEmpCrForm.get('subDepartment').valid,
                         'crSDEValidationValidAndFocused': sEmpCrForm.get('subDepartment').valid
                        &&  sEmpCrForm.get('subDepartment') === sEmpCrForm.get(inputName) }" >
        <label for="subDepartment"><b>Подотдел</b></label>
        <select id="subDepartment" formControlName="subDepartment" >
          <option hidden [value]="null">Выберите Подотдел</option>
          <option *ngFor="let subDepartment of subDepartments" >
            {{subDepartment.name}}
          </option>
        </select>
        <div class="crSDESubDeptErrorMassage">
          <div *ngIf="(sEmpCrForm.get('subDepartment').invalid
                      && (sEmpCrForm.get('subDepartment').touched
                      || sEmpCrForm.get('subDepartment').untouched)
                      && submitted)" >
            <div *ngIf="sEmpCrForm.get('subDepartment').errors.required">
              <p>Подотдел не выбран!</p>
            </div>
          </div>
        </div>
      </div>
     <button type="submit">Добавить</button>
    </div>
  </form>
</div>
