
.mainDeptDetail{
  height: max-content;
  width: max-content;
  margin: 0 auto;
}

.mainDeptContent{
  display: inline-block;
  width: 703px;
}

h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

.mdDIdHead{
  height: 32px;
  width: 699px;
  display: inline-block;
  float: left;
}

.mdDId{
  height: 30px;
  width: 585px;
  border-left: solid 1px rgb(180, 180, 180);
  border-top: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  float: left;
  background-color: rgb(255, 255, 255);
}

.mdDId b{
  position: relative;
  top: 6px;
  right: 13px;
}

.mdDId span:nth-child(1){
  float: left;
  text-align: right;
  width: 94px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.mdDId span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  left: 10px;
}

.mdDUpd{
  height: 30px;
  width: 111px;
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
  float: left;
  border-radius: 0 15px 0 0;
  background-color: rgb(255, 255, 255);
}

.mdDUpd button{
  padding: 6px;
  display: block;
  border: none;
  border-left: 1px solid  rgb(180, 180, 180);
  border-radius: 0 15px 0 0;
  cursor: pointer;
  outline: none;
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  color: rgb(80, 80, 80);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.mdDUpd button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}

.mdDName{
  float: left;
  display: inline-block;
  height: 30px;
  width: 696px;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
}
.mdDName b{
  position: relative;
  top: 6px;
  right: 13px;
}
.mdDName span:nth-child(1){
  float: left;
  height: 30px;
  width: 94px;
  display: inline-block;
  border-right: solid 1px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  text-align: right;
}

.mdDName span:nth-child(2){
  float: left;
  position: relative;
  top: 6px;
  padding-left: 10px;
}

.mdDEmpls{
  float: left;
  padding: 0 0 0 97px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  width: 599px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
}
.mdDEmpls b{
  position: relative;
  top: 6px;
}

.mdDEmplsHead{
  float: left;
  margin-left: 97px;
  height: 31px;
  width: 601px;
  background-color: rgb(255, 255, 255);
}

.mdDEmplsHead b{
  position: relative;
  top: 6px;
}

.mdDEmplsHead span:nth-child(1){
  float: left;
  background-color: rgb(245, 245, 245);
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  height: 30px;
  width: 200px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  display: inline-block;
  position: relative;
}

.mdDEmplsHead span:nth-child(2){
  float: left;
  background-color: rgb(245, 245, 245);
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  height: 30px;
  width: 200px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  display: inline-block;
  position: relative;
}

.mdDEmplsHead span:nth-child(3){
  float: left;
  background-color: rgb(245, 245, 245);
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  height: 30px;
  width: 197px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  display: inline-block;
  position: relative;
}

.mdDEmplsList {
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  height: 30px;
  width: 599px;
  margin: 0 0 0 97px;
  float: left;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.mdDEmplsList:hover{
  position: relative;
  background-color: rgb(240, 240, 240);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  z-index: 2;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.mdDEmplsList a{
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 600px;
  color: #5b5b5b;
  text-shadow: 0 0 1px rgb(226, 226, 226);
  border: none;
}

.mdDEmplsList a:hover{
  color: #000000;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.mdDEmplsList span{
  height: 24px;
  width: 189px;
  border-right: solid 1px rgb(180, 180, 180);
  padding: 6px 0 0 10px;
  display: inline-block;
}

.mdDSubDepts{
  float: left;
  padding: 0 0 0 97px;
  margin-top: -1px;
  height: 30px;
  text-align: center;
  border: solid 1px rgb(180, 180, 180);
  width: 599px;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
}

.mdDSubDepts b{
  position: relative;
  top: 6px;
}

.mdDSDName{
  float: left;
  margin-left: 97px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  z-index: 3;
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  width: 599px;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
}

.mdDSDName b{
  position: relative;
  top: 6px;
}

.mdDSDList{
  float: left;
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  list-style-type: none;
  height: 30px;
  width: 589px;
  padding-left: 10px;
  margin: 0 0 0 97px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.mdDSDList span{
  position: relative;
  top: 6px;
}

.mdDSDList:hover{
  position: relative;
  background-color: rgb(240, 240, 240);
  -webkit-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -moz-box-shadow: 0 3px 5px rgb(180, 180, 180);
  -o-box-shadow: 0 3px 5px rgb(180, 180, 180);
  box-shadow: 0 3px 5px rgb(180, 180, 180);
  z-index: 2;
  -webkit-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -moz-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  -o-transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
  transition: background-color 0.2s ease-in, box-shadow 0.3s ease-in;
}

.mdDSDList a{
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 598px;
  color: #5b5b5b;
  text-shadow: 0 0 1px rgb(226, 226, 226);
}

.mdDSDList a:hover {
  color: #000000;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

.mainDeptDetailError{
  margin: 10px auto;
  height: 50px;
  width: max-content;
  border: solid 1px rgb(240, 150, 150);
  -webkit-box-shadow: 0 0 5px rgb(240, 150, 150);
  -moz-box-shadow: 0 0 5px rgb(240, 150, 150);
  -o-box-shadow: 0 0 5px rgb(240, 150, 150);
  box-shadow: 0 0 5px rgb(240, 150, 150);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.mainDeptDetailError h2{
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
  color: rgb(240, 150, 150);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
