<div *ngIf="mainDepartment">
  <h2>{{mainDepartment.name}}</h2>
  <div class="mdDIdHead">
    <div class="mdDId">
      <label ><b>ID</b></label>
      <span>{{mainDepartment.id}}</span>
    </div>
    <div class="mdDUpd">
      <button id="upd" (click)="goToUpdateMainDepartment(mainDepartment.name)">Редактировать</button>
    </div>
  </div>
  <div class="mdDName">
      <label><b>Название</b></label>
      <span>{{mainDepartment.name}}</span>
  </div>
  <div>
    <div class="mdDEmpls"><b>Сотрудники</b></div>
    <div class="mdDEmplsHead">
        <div class="mdDLN"><b>Фамилия</b></div>
        <div class="mdDFN"><b>Имя</b></div>
        <div class="mdDMN"><b>Отчество</b></div>
    </div>
    <div class="mdDEmplsList" *ngFor="let employee of mainDepartment.employees">
        <a routerLink="/main_dept_employee-detail/{{employee.lastName}}/{{employee.firstName}}/{{employee.middleName}}">
          <div >{{employee.lastName}}</div>
          <div >{{employee.firstName}}</div>
          <div >{{employee.middleName}}</div>
      </a>
    </div>
  </div>
  <div>
    <div class="mdDSubDepts"><b>Подотделы</b></div>
    <div class="mdDSDName"><b>Название</b></div>
    <div class="mdDSDList" *ngFor="let subDepartment of mainDepartment.subDepartments">
        <a routerLink="/sub-department-detail/{{subDepartment.name}}">
            <div>{{subDepartment.name}}</div>
        </a>
    </div>
  </div>
</div>
