.mdDIdHead{
  height: 32px;
  width: 723px;
  display: block;
}

.mdDId{
  height: 30px;
  width: 610px;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.mdDId b{
  position: relative;
  top: 6px;
  left: 9px;
}

.mdDId div{
  width: 121px;
  height: 30px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}
.mdDId span{
  position: relative;
  top: 6px;
  left: 20px;
}

.mdDName{
  display: inline-block;
  height: 30px;
  width: 720px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}
.mdDName b{
  position: relative;
  top: 6px;
  left: 9px;
}
.mdDName div{
  height: 30px;
  width: 121px;
  display: inline-block;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 3px 0 5px rgba(0,0,0,0.22);
}
.mdDName span {
  position: relative;
  top: 6px;
  padding-left: 20px;
}

.mdDEmpls{
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  width: 720px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}
.mdDEmpls b{
  position: relative;
  top: 6px;
}

.mdDEmplsHead{
  margin-left: 121px;
  height: 31px;
  width: 601px;
}

.mdDLN{
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 30px;
  width: 200px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
}

.mdDLN b{
  position: relative;
  top: 6px;
}

.mdDFN{
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 30px;
  width: 200px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
}

.mdDFN b{
  position: relative;
  top: 6px;
}

.mdDMN{
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  height: 30px;
  width: 199px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
}

.mdDMN b{
  position: relative;
  top: 6px;
}

.mdDEmplsList {
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 600px;
  margin: 0 0 0 121px;
}

.mdDEmplsList:hover{
  background-color: rgba(130, 140, 155, 0.16);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.mdDEmplsList a{
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 600px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.mdDEmplsList a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}

.mdDEmplsList span{
  height: 24px;
  width: 189px;
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  padding: 6px 0 0 10px;
  display: inline-block;
}

.mdDSubDepts{
  margin-top: -1px;
  height: 30px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.4);
  width: 720px;
  background-color: rgba(217, 217, 217, 0.25);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}

.mdDSubDepts b{
  position: relative;
  top: 6px;
}

.mdDSDName{
  margin-left: 121px;
  height: 30px;
  background-color: rgba(217, 217, 217, 0.25);
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  width: 599px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  border-left: solid 1px rgba(0, 0, 0, 0.4);
}

.mdDSDName b{
  position: relative;
  top: 6px;
}

.mdDSDList{
  border-bottom: ridge 1px rgba(0, 0, 0, 0.4);
  border-left: ridge 1px rgba(0, 0, 0, 0.4);
  border-right: ridge 1px rgba(0, 0, 0, 0.4);
  list-style-type: none;
  height: 30px;
  width: 589px;
  padding-left: 10px;
  margin: 0 0 0 121px;
}

.mdDSDList span{
  position: relative;
  top: 6px;
}

.mdDSDList:hover{
  background-color: rgba(130, 140, 155, 0.16);
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
  z-index: 2;
}

.mdDSDList a{
  z-index: 1;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 598px;
  color: #5b5b5b;
  text-shadow: 0 1px 1px rgba(126, 126, 126, 0);
}

.mdDSDList a:hover{
  color: #000000;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
}

.mdDUpd{
  display: block;
  height: 30px;
  width: 110px;;
  border-bottom: 1px solid  red;
}

.mdDUpd button{

  border-left: 0;
  border-right: 1px solid  rgba(0, 0, 0, 0.4);
  border-top: 1px solid  rgba(0, 0, 0, 0.4);


  border-radius: 0 15px 0 0;
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}

.mdDIdHead div:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
  color: rgba(235, 235, 235, 0.8);
}
