h2{
  text-align: center;
  color: #373737;
  text-shadow: 0 0 1px 3px #000000;
}

form {
  width: max-content;
  margin: 150px -238px 0 -239px;
  position: relative;
  left: 395px;
}


.login{
  height: 185px;
  width:475px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
  border-radius: 40px 40px 180px 180px / 40px 40px 50px 50px;
}

.login b{
  position: relative;
  top: 8px;
  float: right;
  right: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.login p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.loginValidationDefault input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.loginValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(240, 150, 150);
  -moz-box-shadow: 3px 0 5px rgb(240, 150, 150);
  -o-box-shadow: 3px 0 5px rgb(240, 150, 150);
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  -webkit-box-shadow: 3px 0 5px rgb(190, 240, 190);
  -moz-box-shadow: 3px 0 5px rgb(190, 240, 190);
  -o-box-shadow: 3px 0 5px rgb(190, 240, 190);
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  -webkit-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -moz-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  -o-transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginHideErrors {
  top: -15px;
  position: relative;
  -moz-opacity: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.loginShowErrors {
  -webkit-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  -moz-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  -o-transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  top: 0;
  position: relative;
  -moz-opacity: 1;
  opacity: 1;
  height: 19px;
  overflow: hidden;
}

.loginErrorMassage{
  margin: 0 auto;
  padding: 6px 0 0 0;
  height: 24px;
  min-width: 50px;
  max-width: max-content;
}

.loginUsername{
  display: inline-block;
  float: left;
  height: 57px;
  width: 395px;
  margin: 0 40px 0 40px;
}

.loginUsername label{
  text-align: right;
  position: relative;
  float: left;
  border-radius: 40px 0 0 40px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 76px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.loginUsername input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 40px 40px 0;
  position: relative;
  height: 35px;
  width: 305px;
  background-color: rgb(255, 255, 255);
  display: block;
}

.loginUsernameErrorMassage{
  padding: 0;
  height: 20px;
  width: 305px;
  float: left;
  margin: 0 0 0 82px;
}

.loginPassword{
  display: inline-block;
  float: left;
  margin: 0 0 0 40px;
  height: 57px;
  width: 395px;
}

.loginPassword label:nth-child(1){
  text-align: right;
  position: relative;
  float: left;
  border-radius: 40px 0 0 40px;
  border: solid 1px rgb(180, 180, 180);
  -webkit-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 0 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 0 5px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 76px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.loginPassword input[type=text],
.loginPassword input[type=password]{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 40px 40px 0;
  position: relative;
  height: 35px;
  width: 305px;
  background-color: rgb(255, 255, 255);
}

.loginPassword input[type=checkbox]{
  display: none;
}

.loginPassword label:nth-child(3) {
  float: left;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
}

.loginPassword label:nth-child(3) .hidePassword{
  opacity: 0.8;
  position: absolute;
  float: left;
  top: 11px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: url(src/images/HidePasswod.png) 0 0 no-repeat;
  background-size: cover;
}

.loginPassword label:nth-child(3) .showPassword{
  opacity: 0.8;
  position: absolute;
  float: left;
  top: 11px;
  right: 30px;
  width: 15px;
  height: 15px;
  background: url(src/images/ShowPassword.png) 0 0 no-repeat;
  background-size: cover;
}

.loginPasswordErrorMassage{
  padding: 0;
  height: 20px;
  width: 305px;
  float: left;
  margin: 0 0 0 82px;
}

.loginNav{
  height: max-content;
  width: max-content;
  padding: 0 0 9px 0;
  overflow: hidden;
  margin: 0 auto;
}

.loginNav a{
  float: left;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.loginNav span{
  float: left;
  display: inline-block;
  height: max-content;
  color: #414141;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.loginNav span:hover{
  color: #2d2d2d;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.loginNav a:first-child span{
  margin: 0 12px 0 10px;
  -webkit-box-shadow: 3px 4px 5px rgb(180, 180, 180);
  -moz-box-shadow: 3px 4px 5px rgb(180, 180, 180);
  -o-box-shadow: 3px 4px 5px rgb(180, 180, 180);
  box-shadow: 3px 4px 5px rgb(180, 180, 180);
  border-radius: 0 0 8px 0;
  padding: 3px 3px 3px 26px;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.loginNav a:first-child:hover span{
  -webkit-box-shadow: 3px 4px 5px rgb(180, 180, 180), inset -1px -4px 5px -2px rgb(200, 200, 200);
  -moz-box-shadow: 3px 4px 5px rgb(180, 180, 180), inset -1px -4px 5px -2px rgb(200, 200, 200);
  -o-box-shadow: 3px 4px 5px rgb(180, 180, 180), inset -1px -4px 5px -2px rgb(200, 200, 200);
  box-shadow: 3px 4px 5px rgb(180, 180, 180), inset -1px -4px 5px -2px rgb(200, 200, 200);
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.loginNav a:last-child span{
  -webkit-box-shadow: -3px 4px 5px rgb(180, 180, 180);
  -moz-box-shadow: -3px 4px 5px rgb(180, 180, 180);
  -o-box-shadow: -3px 4px 5px rgb(180, 180, 180);
  box-shadow: -3px 4px 5px rgb(180, 180, 180);
  border-radius: 0 0 0 8px;
  margin: 0 10px 0 0;
  padding: 3px;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.loginNav a:last-child:hover span{
  -webkit-box-shadow: -3px 4px 5px rgb(180, 180, 180), inset 1px -4px 5px -2px rgb(200, 200, 200);
  -moz-box-shadow: -3px 4px 5px rgb(180, 180, 180), inset 1px -4px 5px -2px rgb(200, 200, 200);
  -o-box-shadow: -3px 4px 5px rgb(180, 180, 180), inset 1px -4px 5px -2px rgb(200, 200, 200);
  box-shadow: -3px 4px 5px rgb(180, 180, 180), inset 1px -4px 5px -2px rgb(200, 200, 200);
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.login button{
  height: 40px;
  width: 150px;
  border: 1px solid  rgb(180, 180, 180);
  border-radius:  0 0 40px 40px /0 0 35px 35px;
  cursor: pointer;
  background-color:  rgb(204, 204, 204);
  -webkit-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -moz-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  -o-box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  box-shadow: inset 0 0 1px rgb(250, 250, 250), 0 1px 1px rgb(205, 205, 205);
  background-image: linear-gradient(to bottom, rgb(239, 239, 239), rgb(119, 119, 119));
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  color: rgb(80, 80, 80);
  outline: none;
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  position: relative;
  margin: 42px 0 0 163px;
}

.login button:hover{
  background-image: linear-gradient(to bottom, rgb(205, 205, 205), rgb(85, 85, 85));
  -webkit-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -moz-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  -o-box-shadow: inset 0 0 10px rgb(230, 230, 230);
  box-shadow: inset 0 0 10px rgb(230, 230, 230);
  text-shadow: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  -webkit-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
  transition: background 0.3s ease-in-out, box-shadow 0.5s ease-in-out, color 0.6s ease-in-out;
}
