.login{
  height: 157px;
  width:556px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: inset 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}

.login b{
  position: relative;
  top: 8px;
  float: right;
  right: 10px;
  font-family: "Times New Roman", serif;
  font-size: 12pt;
}

.login p{
  font-size: 11pt;
  color: rgb(240, 150, 150);
  margin: 0;
}

.loginValidationDefault input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
}

.loginValidationInvalid input {
  border-top: solid 1px rgb(240, 150, 150);
  border-right: solid 1px rgb(240, 150, 150);
  border-bottom: solid 1px rgb(240, 150, 150);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(240, 150, 150);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginValidationValid input {
  border-top: solid 1px rgb(180, 180, 180);
  border-right: solid 1px rgb(180, 180, 180);
  border-bottom: solid 1px rgb(180, 180, 180);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginValidationValidAndFocused input{
  border-top: solid 1px rgb(190, 240, 190);
  border-right: solid 1px rgb(190, 240, 190);
  border-bottom: solid 1px rgb(190, 240, 190);
  border-left: 0;
  box-shadow: 3px 0 5px rgb(190, 240, 190);
  transition: border 0.3s ease-in, box-shadow 0.4s ease-in;
}

.loginHideErrors {
  top: -15px;
  position: relative;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.loginShowErrors {
  transition: top 0.5s ease-in-out, opacity 0.2s ease-in 0.3s;
  top: 0;
  position: relative;
  opacity: 1;
  height: 19px;
  overflow: hidden;
}
.loginErrorMassage{
  padding: 0;
  height: 20px;
  width: 450px;
  float: left;
  margin: 0;
}

.loginUsername{
  display: inline-block;
  float: left;
  height: 57px;
  width: 390px;
  margin: 0 0 0 40px;
}

.loginUsername label{
  position: relative;
  float: left;
  border-radius: 40px 0 0 40px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 76px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.loginUsername input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 40px 40px 0;
  position: relative;
  height: 35px;
  width: 300px;
  background-color: rgb(255, 255, 255);
}

.loginUsernameErrorMassage{
  padding: 0;
  height: 20px;
  width: 300px;
  float: left;
  margin: 0 0 0 82px;
}

.loginPassword{
  display: inline-block;
  float: left;
  margin: 0 0 0 40px;
  height: 57px;
  width: 390px;
}

.loginPassword label{
  position: relative;
  float: left;
  border-radius: 40px 0 0 40px;
  border: solid 1px rgb(180, 180, 180);
  box-shadow: 3px 0 5px rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  width: 76px;
  height: 35px;
  font-size: 12pt;
  z-index: 2;
}

.loginPassword input{
  float: left;
  font-family: "Times New Roman", serif;
  font-size: 13pt;
  padding: 0 0 0 10px;
  outline: none;
  border-radius: 0 40px 40px 0;
  position: relative;
  height: 35px;
  width: 300px;
  background-color: rgb(255, 255, 255);
}

.loginPasswordErrorMassage{
  padding: 0;
  height: 20px;
  width: 300px;
  float: left;
  margin: 0 0 0 82px;
}

.login_button button{
  position: relative;
  height: 50px;
  left: 751px;
  top: -33px;
  width: 150px;
  border-radius: 0 0 15px 0;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  background-color: #ccc;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #efefef, #777);
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
}

.login_button button:hover{
  background-image: linear-gradient(to bottom, #ccc, #555);
  box-shadow: inset 0 0 10px white;
}
