<div class="example-container mat-elevation-z8">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="authorize()">

      <div [ngClass]="{'username_default': loginForm.controls['username'].untouched,
                         'username_invalid': loginForm.controls['username'].invalid
                                            && (loginForm.controls['username'].dirty
                                            || loginForm.controls['username'].touched),
                         'username_valid': loginForm.controls['username'].touched
                                            && loginForm.controls['username'].valid }" >
        <input id="username" type="text" placeholder="username" formControlName="username" >
        <div class="username_error_massage">
          <div *ngIf="loginForm.controls['username'].invalid
                && (loginForm.controls['username'].dirty
                || loginForm.controls['username'].touched)" >
            <div *ngIf="loginForm.controls['username'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{'password_default': loginForm.controls['password'].untouched,
                         'password_invalid': loginForm.controls['password'].invalid
                                            && (loginForm.controls['password'].dirty
                                            || loginForm.controls['password'].touched),
                         'username_valid': loginForm.controls['password'].touched
                                            && loginForm.controls['password'].valid }" >
        <input id="password" type="password" placeholder="password" formControlName="password" >
        <div class="password_error_massage">
          <div *ngIf="loginForm.controls['password'].invalid
                && (loginForm.controls['password'].dirty
                || loginForm.controls['password'].touched)" >
            <div *ngIf="loginForm.controls['password'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button type="submit" >Login</button>
      </div>
    </form>
</div>
