<div>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="authorize()">
    <div class="login">
      <div class="logUsernameLabel">
        <label for="username"><b>Имя</b></label>
      </div>
      <div [ngClass]="{'logUsernameDefault': loginForm.controls['username'].untouched,
                         'logUsernameInvalid': loginForm.controls['username'].invalid
                                            && (loginForm.controls['username'].dirty
                                            || loginForm.controls['username'].touched),
                         'logUsernameValid': loginForm.controls['username'].touched
                                            && loginForm.controls['username'].valid }" >
        <input id="username" type="text" placeholder="username" formControlName="username" >
        <div class="logUsernameErrorMassage">
          <div *ngIf="loginForm.controls['username'].invalid
                && (loginForm.controls['username'].dirty
                || loginForm.controls['username'].touched)" >
            <div *ngIf="loginForm.controls['username'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="logPasswordLabel">
        <label for="password" ><b>Пароль</b></label>
      </div>
      <div [ngClass]="{'logPasswordDefault': loginForm.controls['password'].untouched,
                       'logPasswordInvalid': loginForm.controls['password'].invalid
                                           && (loginForm.controls['password'].dirty
                                           || loginForm.controls['password'].touched),
                          'logPasswordValid': loginForm.controls['password'].touched
                                            && loginForm.controls['password'].valid }" >
        <input id="password" type="password" placeholder="password" formControlName="password" >
        <div class="logPasswordErrorMassage">
          <div *ngIf="loginForm.controls['password'].invalid
                && (loginForm.controls['password'].dirty
                || loginForm.controls['password'].touched)" >
            <div *ngIf="loginForm.controls['password'].errors.required">
              <p>Поле не должно быть пустым!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="login_button">
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
